{% extends 'theme2/elements/layouts/layout2.html' %}

{% load static custom_tags widget_tweaks %}

{% block additional_css %}
{% endblock %}


{% block content %}
<div class="page-content bg-white">
    <!-- Banner  -->
    <div class="dlab-bnr-inr overlay-primary-dark" style="background-image: url({% static 'theme2/images/banner/bnr1.jpg' %});">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1>GET A QUOTE</h1>
                <!-- Breadcrumb Row -->
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Get A Quote</li>
                    </ul>
                </nav>
                <!-- Breadcrumb Row End -->
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <div class="content-inner-2">
        <div class="container">
            <div class="row m-t30">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-bx-wraper style-9 m-md-b60">
                        <div class="icon-bx-sm radius bg-primary"> 
                            <a href="javascript:void(0);" class="icon-cell">
                                <i class="las la-phone-volume">&nbsp;</i>
                            </a> 
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-title">Call Now</h4>
                            <p>{{site_config.Site.contact.value}}</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="icon-bx-wraper style-9 m-md-b60  m-sm-t30">
                        <div class="icon-bx-sm radius bg-primary"> 
                            <a href="javascript:void(0);" class="icon-cell">
                                <i class="las la-map-marker">&nbsp;</i>
                            </a> 
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-title">Location</h4>
                            <p>{{site_config.Site.address.value}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="icon-bx-wraper style-9  m-md-t30">
                        <div class="icon-bx-sm radius bg-primary"> 
                            <a href="javascript:void(0);" class="icon-cell">
                                <i class="las la-envelope-open">&nbsp;</i>
                            </a> 
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-title">Email Now</h4>
                            <p>{{site_config.Site.email.value}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get A Quote -->
    <div class="content-inner" style="background-image: url({% static 'theme2/images/background/bg1.png' %});">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-7 m-b30 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="section-head style-1">
                        <h6 class="sub-title">CONTACT US</h6>
                        <h2 class="title">GET IN TOUCH</h2>
                    </div>
                    <form class="dlab-form " method="post" >{% csrf_token %}
                        {% include 'theme2/elements/alert.html' %}
                        
                        {% if message %}
                        <div class="text-success mb-3">{{ message }}</div>
                        {% endif %}
                        {% if errors %}
                        <div class="text-danger mb-3">{{ errors }}</div>
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="la la-user">&nbsp;</i></span>
                                    </div>
                                    {{ contactus_form.name|attr:"class:form-control"|attr:"placeholder:Full Name" }}
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="la la-envelope">&nbsp;</i></span>
                                    </div>
                                    {{ contactus_form.email|attr:"class:form-control"|attr:"placeholder:Email Adress" }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="la la-phone">&nbsp;</i></span>
                                    </div>
                                    {{ contactus_form.phone|attr:"class:form-control"|attr:"placeholder:Phone No." }}
                                </div>
                            </div>
                           
                           
                            <div class="col-sm-12 m-b20">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="la la-sms">&nbsp;</i></span>
                                    </div>
                                    {{ contactus_form.message|attr:"class:form-control"|attr:"rows:5" }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Submit Now<i class="fa fa-angle-right m-l10">&nbsp;</i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xl-6 col-lg-5 m-b30 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="dlab-media cf-r-img">	
                        <img src="{% static 'theme2/images/about/img2.png' %}" class="move-4" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ site_config.Site.location.value|safe }}
    <section class="overlay-secondary-middle bg-img-fix" style="background-image: url({% static 'theme2/images/background/bg5.jpg' %}); background-size: cover;">
        <div class="container">
            <div class="row action-box style-1  align-items-center">
                <div class="col-xl-9 col-lg-8 col-md-8 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <h2 class="title text-white my-2">YOU WANT TO SHOWCASE YOUR WEBSITE</h2>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 text-end wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <a href="contact-us-2.html" class="btn btn-primary">Join Now <i class="fa fa-angle-right m-l10">&nbsp;</i></a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block additional_js %}


{% endblock %}