{% extends 'theme9/elements/layouts/layout2.html' %}

{% load static custom_tags widget_tweaks %}

{% block additional_css %}
{% endblock %}


{% block content %}

<section class="section-full bg-white content-inner contact-form">	
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="blog-post blog-single mb-0">
                    <div class="dlab-media m-b50 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        <img src="/static/theme9/images/blog/card/pic9.jpg" alt="">
                    </div>
                    <div class="dlab-info">
                        <div class="dlab-post-text text">
                            <h1 class="font-weight-600">Contact Me</h1>
                            <p class="first-content">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed maximus orci ac condi mentum efficitur. Suspendi potenti. Fusce diam felis, ullamcor aca felis sed, volutpat varius tortor. Ut eleifend justo sed quam blandit, vehicula ante hendrerit. Sed condimentum libero vel eros porta, eu malesuada nulla bibendum. Proin varius sollicitudin nulla quis fermentum. Nunc vitae arcu eget diam gravida ultrices finibus nec mi. Maecenas egestas libero.</p>
                        </div>
                    </div>
                </div>
                <form class="dzform" method="post" >{% csrf_token %}
                    {% include 'theme9/elements/alert.html' %}
                    
                    {% if message %}
                    <div class="text-success mb-3">{{ message }}</div>
                    {% endif %}
                    {% if errors %}
                    <div class="text-danger mb-3">{{ errors }}</div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                {{ contactus_form.name|attr:"class:form-control"|attr:"placeholder:Full Name" }}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                {{ contactus_form.phone|attr:"class:form-control"|attr:"placeholder:Phone No." }}
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                {{ contactus_form.email|attr:"class:form-control"|attr:"placeholder:Email Address" }}
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                {{ contactus_form.message|attr:"class:form-control"|attr:"rows:5" |attr:"placeholder:Add Your Message" }}
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <button name="submit" type="submit" value="Submit" class="btn radius-no primary">Add Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 m-b30">
                <div class="side-bar sticky-top">
                    <div class="widget widget-author wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        <h6 class="widget-title text-center"><span>About Me</span></h6>
                        <div class="author-profile-info author-style-2">
                            <div class="author-profile-pic">	
                                <a href="javascript:void(0);">
                                    <img src="/static/theme9/images/author-2.jpg" alt="Profile Pic" width="130" height="130">
                                </a>
                            </div>
                            <div class="author-profile-content">
                                <h6 class="title">I Am Shailja Reddy</h6>
                                <span class="sub-title">Photographer & Blogger</span>
                                <p>There are many variations of passages of Lorem Ipsum available.</p>
                                <img src="/static/theme9/images/signing.png" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget-vlog wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <h6 class="widget-title text-center"><span>Latest Blog</span></h6>
                        <div class="widget-carousel owl-carousel owl-dots-style1 owl-none owl-theme">
                            <div class="item">
                                <div class="post-box">
                                    <img src="/static/theme9/images/video-post/pic7.jpg" alt="">
                                    <a href="https://www.youtube.com/watch?v=Dj6CKxQue7U" class="popup-youtube video"><i class="fa fa-youtube-play"></i></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="post-box">
                                    <img src="/static/theme9/images/video-post/pic8.jpg" alt="">
                                    <a href="https://www.youtube.com/watch?v=Dj6CKxQue7U" class="popup-youtube video"><i class="fa fa-youtube-play"></i></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="post-box">
                                    <img src="/static/theme9/images/video-post/pic9.jpg" alt="">
                                    <a href="https://www.youtube.com/watch?v=Dj6CKxQue7U" class="popup-youtube video"><i class="fa fa-youtube-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block additional_js %}

{% endblock %}