{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static custom_tags %}

{% block additional_css %}
{% endblock %}



{% block message %}
{% include 'dashboard/elements/alert.html' %}
{% endblock %}

{% block content %}



<div class="row page-titles mx-0 mb-3">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Configurations</h4>
            <span>all configurations</span>
        </div>
    </div>
    {% if perms.dashboard.add_configurations  or perms.dashboard.view_configurations %}
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            {% if perms.dashboard.view_configurations %}
            <li class="breadcrumb-item"><a href="{% url 'dashboard:all-config' %}">Configurations</a></li>
            {% endif %}
            {% if perms.dashboard.add_configurations %}
            <li class="breadcrumb-item active"><a href="{% url 'dashboard:add-config' %}">Add Config</a></li>
            {% endif %}
        </ol>
    </div>
    {% endif %}
</div>



<div class="card">

    <form method="post" action="{{request.path}}" enctype="multipart/form-data">{%csrf_token%}
    <div class="card-header ">
        <h4 class="card-title">Configurations</h4>
        {% if perms.dashboard.view_configurations or perms.dashboard.add_configurations %}
       <a  href="{% url 'dashboard:add-config' %}" class="btn btn-primary">Add Config</a>
       {% endif %}
    </div>
    <div class="card-body">

        {% for config in all_filter_config %}
        <div class="row ">
            <div class="col-md-3 my-2">
             {{config.title|title }}
            </div>
            
                <div class="col-md-6">
                   
                    <div class="my-2  align-items-center">
                        {% comment %} We need only upload value filed in models  {% endcomment %}
                        {% if config.input_type == 'text' %}
                            <input type="{{config.input_type}}" name="{{config.id}}" class="form-control" value="{% if config.value %}{{config.value}}{% endif %}" {%if not config.editable %}disabled{% endif %}>
                        {% endif %}

                        {% if config.input_type == 'textarea' %}
                            <textarea type="{{config.input_type}}" name="{{config.id}}" class="form-control"  {% if not config.editable %}disabled{% endif %} rows='3' cols='5'>{% if config.value %}{{config.value}}{% endif %}</textarea>
                        {% endif %}

                        {% if config.input_type == 'checkbox' %}
                        {% if config.value == '1' %}
                            <input type="hidden" name="{{config.id}}"   value="0"  class="form-check-input"  {% if not config.editable %}disabled{% endif %}>
                            <input type="{{config.input_type}}" name="{{config.id}}"  value="1" class="form-check-input"   checked="checked" {% if not config.editable %}disabled{% endif %}>
                            {% else %}
                            <input type="hidden" name="{{config.id}}"   class="form-check-input"  value="0" {% if not config.editable %}disabled{% endif %}>
                            <input type="{{config.input_type}}"  name="{{config.id}}"  class="form-check-input"  value="1" {% if not config.editable %}disabled{% endif %}>
                        
                        {% endif %}
                        {% endif %}

                        {% if config.input_type == 'file' and config.params == '' %}


							<div class="image-field-box">
								<div class="avatar-upload feature-img-upload prefix-upload">
									
									<div class="avatar-preview feature-img">
										{% if config.value %}
										<div class="image-preview" style="background-image: url('{{ config.value }}')">
										</div>
										{% else %}
										<div class="image-preview" style="background-image: url('/static/dashboard/images/no-photo-available.png');">
										</div>
										{% endif %}
									</div>
								</div>
								<div>
									<div>
										<label class="text-black">Currently:</label>
                                        {% if config.value %}
										<label class="text-primary">{{ config.value }}</label>
                                        {% endif %}
									</div>	
									<input type="{{config.input_type}}" name="image_{{config.id}}" accept=".png, .jpg, .jpeg"   class="form-control form-control-sm 
									image-field" {% if not config.editable %}disabled{% endif %}>
								</div>	
							</div>
                        {% endif %}



                    

                        <!--File Multiple-->
                        

                        {% if config.input_type == 'file' and config.params == 'multiple' %}


                        <div class="image-field-box">
            

                            <div>
                                {% if config.value %}
                                    <div class="d-flex flex-wrap pb-2">
                                    
                                        
                                        {% for val  in  config.value|split:"," %}
                                        
                                        <div class="slider-pre pb-2 pe-2">
                                             <img src="{{val}}">
											 <div class="delete-round-button">
												<a href="{% url 'dashboard:deleteConfigSlider' id=config.id file_name=val|split:"/"|last %}"><i class="fa-solid fa-xmark"></i></a>
											 </div>
                                        </div>
                                       
                                        {% endfor %}
                                          
                                    </div>	
                                    {% endif %}
                                <input type="{{config.input_type}}" name="image_{{config.id}}" accept=".png, .jpg, .jpeg" {{config.params}}  class="form-control form-control-sm 
                                image-field" {% if not config.editable %}disabled{% endif %}>
                            </div>	
                        </div>
                    {% endif %}
                    <!--File Multiple-->







                    {% if config.input_type == 'radio' %}
                    {% if config.params %}
                        {% with config.params|split:"," as radiolist %}
                            {% for item in radiolist %}
                                <div class="form-check">
                                    <input type="{{config.input_type}}" name="{{config.id}}"   {% if config.value == item  %}checked{% endif %} id="radio{{ forloop.counter0}}" class="form-check-input"  value="{{item}}" {% if not config.editable %}disabled{% endif %}>
                                    <label  class="form-check-label mx-2" for="radio{{ forloop.counter0}}" >{{ item | title }}</label>
                                    {% if config.value == item  %}
                                    <span class="fw-light fs-6">(Default)</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endwith %}
                    {% endif %}
                {% endif %}









                        {% if config.input_type == 'select' %}
                            <select name="{{config.id}}"  class="nice-select default-select form-control wide mb-3" {% if not config.editable %}disabled{% endif %}>
                            <option >Select option</option>
                            {% if config.params %}
                            {% with config.params|split:"," as selectlist %}
                                {% for item in selectlist %}
                                <option {% if config.value  == item %}selected{% endif %} value="{{item}}">{{ item }}</option>
                                {% endfor %}
                            {% endwith %}
                            {% endif %}

                        </select>
                        {% endif %}
                    </div>
               
                </div>
            
        </div>

        {% endfor  %}

    </div>

    <div class="card-footer d-sm-flex justify-content-between align-items-center">
       
        <button href="javascript:void(0);" class="btn btn-primary">Save</button>
    </div>
</form>
</div>


{% endblock %}

{% block additional_js %}
<script>
    function readURL(input, parent) {
		
		
        if (input.files && input.files[0]) {
              var reader = new FileReader();
			 
              reader.onload = function(e) {
                 parent.find('.image-preview').css('background-image', 'url('+e.target.result +')');
                 parent.find('.image-preview').hide();
                 parent.find('.image-preview').fadeIn(650);
              }
              reader.readAsDataURL(input.files[0]);
        }
     }
     $(".image-field").on('change', function() {
		var inputParent = jQuery(this).parents('.image-field-box');
		 
        readURL(this, inputParent);
     });
</script>
{% endblock %}