<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Meta -->
	{% load static mptt_tags custom_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content=""/>
	<meta name="author" content="DexignZone"/>
	<meta name="robots" content=""/>
	<meta name="description" content="{{ dz_array.pagelevel.frontend.public.description }}"/>
	<meta property="og:title" content="{{ dz_array.pagelevel.frontend.public.og_title }}"/>
	<meta property="og:description" content="{{ dz_array.pagelevel.frontend.public.og_description }}"/>
	<meta property="og:image" content="{{ dz_array.pagelevel.frontend.public.og_image }}"/>
	<meta name="format-detection" content="telephone=no">
	
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Title -->
	<title>{{ site_config.Site.title.value }}</title>
    
	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{{ site_config.Site.favicon.value }}">
    


	{% if site_config.Theme.value == 'theme2' %}

		{% for cssurl in dz_array.pagelevel.frontend.global.css.theme2 %}
		<link  rel="stylesheet" href="{% static cssurl %}" >
		{% endfor %}
		<link  rel="stylesheet"  class="skin" href="{% static 'theme2/css/skin/skin-1.css' %}">
	{% endif %}

</head>


<body id="bg">
<div id="loading-area" class="loading-02"></div>
<div class="page-wraper">
	<!-- Header -->
	{% include site_config.Theme.value|add:'/elements/header.html' %}
	<!-- Header End -->
	
	<div class="page-content bg-white">


		<div class="dlab-bnr-inr overlay-gradient-dark text-center" style="background-image: url({% static 'theme2/images/banner/bnr2.jpg' %});">
			<div class="container">
				<div class="dlab-bnr-inr-entry">
					<h1>{{banner_title}}</h1>
					<!-- Breadcrumb Row -->
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							{% if sub_banner_title %}
							<li class="breadcrumb-item">{{sub_banner_title}}</li>
							{% endif %} 
						</ul>
					</nav>
					<!-- Breadcrumb Row End -->
				</div>
			</div>
		</div>





		<section class="content-inner bg-img-fix">
			<div class="container">
				<div class="row">
					<div 
					{% if site_config.Widget.show_sidebar.value == '1' %}
					class="col-xl-8 col-lg-8 m-b50"
					{% else %}
					class="col-xl-12 col-lg-12 m-b40"
					{% endif %}
					>

						<!-- blog start -->
						{% block content %}
						{% endblock %}
                        <!-- blog END -->
					</div>
					{% if site_config.Widget.show_sidebar.value == '1' %}
					<div class="col-xl-4 col-lg-4 m-b30">
                        <aside class="side-bar sticky-top">
							{% if site_config.Widget.show_search_widget.value == '1' %}
                            <div class="widget">
                                <div class="search-bx">
                                    <form role="search" action="{% url 'frontend:home'  %}">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
												<span class="input-group-text"><i class="la la-search"></i></span>
											</div>
											<input name="search" class="form-control" placeholder="Search Here..." type="text" {% if query %}value="{{query}}"{% endif %}>
                                            <span class="input-group-btn">
												<button type="submit" class="btn btn-primary"><i class="la la-long-arrow-right"></i></button>
                                            </span> 
										</div>
                                    </form>
                                </div>
                            </div>
							{% endif %}
							{% if site_config.Widget.show_category_widget.value == '1' %}
								<div class="widget widget_categories">
									<h2 class="widget-title">Category</h2>
									<ul>
									{% comment %} <li class="cat-item cat-item-40"><a href="#">Lifestyle</a> (3)</li>  {% endcomment %}
		
										{% with categories=''|getWidgetCategories %}
											{% recursetree categories %}
												<li class="cat-item">
													<a href="{% url 'frontend:blogcategory' slug=node.slug %}">
														{{node.title}}
													</a>
													{% if not node.is_leaf_node %}
													<ul>
														{{children}}
													</ul>
													{% endif %}
												</li>    
											{% endrecursetree %}                                     
										{% endwith %}
									</ul>
								</div>
							{% endif %}
							{% if site_config.Widget.show_recent_post_widget.value == '1' %}
                            <div class="widget recent-posts-entry">
                                <h2 class="widget-title">Recent Posts</h2>
                                <div class="widget-post-bx">
									{% with widget_blogs='3'|getRecentPOST  %}
										{% for post in widget_blogs %}
											<div class="widget-post clearfix">
												<div class="dlab-media"> 
													<a href="{% url 'frontend:blog-detail' slug=post.slug %}"><img src="/media/{{post.feature_image}}" alt=""></a>
												</div>
												<div class="dlab-info">
													<h4 class="title"><a href="{% url 'frontend:blog-detail' slug=post.slug %}">Fusce mollis felis quis tristique</a></h4>
													<div class="dlab-meta">
														<ul>
															<li class="post-date">{{post.publish_on}}</li>
														</ul>
													</div>
												</div>
											</div>
										{% endfor %}
									{% endwith %}
                                </div>
                            </div>
							{% endif %}
							{% if site_config.Widget.show_archive_widget.value == '1' %}
							<div class="widget widget widget_categories">
                                <h2 class="widget-title">Archives</h2>
                                <ul>
									{% with archives=''|getWidgetArchives %}
										{% for item in archives %}
											<li><a href="{% url 'frontend:archive' year=item.year month=item.month %}">{{ item|date:"F Y" }}</a></li>
										
										{% endfor %}
									{% endwith %}
                                </ul>
                            </div>
							{% endif %}

							{% if site_config.Widget.show_tag_widget.value == '1' %}
							<div class="widget widget_tag_cloud">
                                <h2 class="widget-title">Tags</h2>
                                <div class="tagcloud"> 
									{% for tag in ''|getPopularTags %}
									<a href="{% url 'frontend:blogtag' slug=tag.slug %}">{{tag.name}}</a>
									{% endfor %}
								</div>
                            </div>
							{% endif %}
                        </aside>
                    </div>
					{% endif %}
				</div>
			</div>
		</section>











	</div>
		
	<!-- Footer -->
	{% include site_config.Theme.value|add:'/elements/footer.html' %}
    <!-- Footer End -->
	<button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->



{% if site_config.Theme.value == 'theme2' %}
		{% for jsurl in dz_array.pagelevel.frontend.global.js.theme2.top %}
		<script src="{% static jsurl %}"></script>
		{% endfor %}

		
		{% for jsurl in dz_array.pagelevel.frontend.global.js.theme2.bottom %}
		<script src="{% static jsurl %}"></script>
		{% endfor %}
{% endif %}




<script>
    var testimonialThumbs = new Swiper('.testimonial-thumbs', {
		spaceBetween: 10,
		slidesPerView: 3,
		centeredSlides: true,
		freeMode: true,
		autoplay: true,
		loop: true,
		speed: 3000,
	}); 
	var testimonialContent = new Swiper('.testimonial-content', {
		spaceBetween: 10,
		autoplay: true,
		loop: true,
		speed: 3000,
		thumbs: {
			swiper: testimonialThumbs
		},
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
	});
</script>
</body>
</html>