// Site Footer
.site-footer{
	&.style-2{
		.footer-top{
			background-color:#0f0f0f;
		    background-size: cover;
			background-position: center;
			padding-bottom:0;
			margin-bottom:-45px;
			padding-top:80px;
		}
		.footer-bottom{
			background-color:#000000;
			padding-top: 70px;
			padding-bottom: 30px;
			.copyright-text{
				color:rgba(255,255,255,.7);
				font-size:15px;
			}
		}
		.footer-info{
			background:var(--primary);
			position:relative;
			.info-right{
				display:flex;
				flex-wrap:wrap;
				justify-content:space-between;
				height: 100%;
				align-items: center;
				padding-right:30px;
				@include custommq ($max:1200px){
					padding-bottom:0px;
					.btn{
						display:none;
					}
				}
				@include respond ('tab-port'){
					padding-left:30px;
				}
				@include respond ('phone'){
					display:block;
				}
			}
			.dz-media{
				height:100%;
				img{
					height:100%;
					object-fit:cover;
				}
				.popup-youtube{
					position:absolute;
					top:50%;
					left:50%;
					height:50px;
					width:50px;
					line-height:50px;
					color:#fff;
					border-width:3px;
					font-size:18px;
					transform:translate(-50%,-50%);
				}
			}
			.service-info{
				display:flex;
				p{
					margin-bottom:0;
					font-size:20px;
					color:#fff;
					font-weight:600;
				}
				li{
					padding: 17px 20px;
					border-right:2px solid rgba(255,255,255,0.2);
					&:last-child{
						border-right:0;
						padding-right:0;
					}
					&:first-child{
						padding-left:0;
					}
				}
				@include respond ('phone'){
					display:block;
					li{
						border:0;
						border-bottom:2px solid rgba(255,255,255,0.2);
						padding:15px 0;
					}
				}
			}
			.title{
				color:#fff;
				margin-bottom:0;
			}
		}
		p{
			font-size:15px;
			color:#a4a3a3;
		}
		.widget_services ul li{
			font-size:16px;
			a{
				color:#a4a3a3;
				&:hover{
					color:var(--primary);
				}
			}
		}
		.dzSubscribe{
			background:#2c2c2c;
			padding:30px;
			span{
				font-size:11px;
			}
			.ft-row{
				position:relative;
				.form-control{
					border-radius:0;
					height:50px;
					padding-right:50px;
				}
				.btn{
					padding:0;
					height:50px;
					width:50px;
					position:absolute;
					top:0;
					right:0;
					justify-content:center;
					color:var(--primary);
					&:hover{
						color:#fff;
						background:var(--primary);
					}
				}
			}
		}
	}
}