     ul.pages-checkbox-list { 
        list-style: none;
        margin: 10px 10px;
	}
	ul.pages-checkbox-list li .form-check label {
		font-weight:500;
		font-size: 13px;
	}
	.blogs-checkbox-list .form-check label {
		font-weight:500;
		font-size: 13px;
	}

	ul.categories-checkbox-list { 
	list-style: none;
	margin: 5px 20px;
	}
	ul.categories-checkbox-list li {
	margin: 5px 5px;
	} 