{% load static mptt_tags custom_tags %}

<header class="site-header mo-left header header-transparent style-1">
		
	<!-- Top Header -->
	<div class="top-bar">
		<div class="container">
			<div class="dz-topbar-inner d-flex justify-content-between align-items-center">
				<div class="dz-topbar-left">
					<ul>
						<li><i class="fa-regular fa-envelope"></i>{{site_config.Site.email.value}}</li>
					</ul>
				</div>
				<div class="dz-topbar-right">
					<ul>
						<li><i class="fa-regular fa-clock"></i>{{site_config.Site.opening_time.value}}</li>
						<li><i class="fa fa-phone"></i>{{site_config.Site.contact.value}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Main Header -->
	<div class="sticky-header main-bar-wraper navbar-expand-lg">
		<div class="main-bar clearfix">
			<div class="container clearfix">
				<div class="box-header clearfix">
				
					<!-- Website Logo -->
					<div class="logo-header mostion logo-dark">
						<a href="{% url 'frontend:home' %}" class="logo-dark"><img src="{{site_config.Site.logo_dark.value}}" alt=""></a>
					</div>
					
					<!-- Nav Toggle Button -->
					<button class="navbar-toggler navbar-toggler-skew collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					
					<!-- Extra Nav -->
					<div class="extra-nav">
						<div class="extra-cell">
							<button id="quik-search-btn" type="button" class="header-search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
							<a href="{% url 'frontend:contactus' %}" class="btn btn-primary btn-skew appointment-btn"><span>Contact Us</span></a>
						</div>
					</div>
					<!-- Extra Nav -->
					
					<!-- Search Form -->
					<div class="dz-quik-search">
						<form action="{% url 'frontend:home'  %}">
							<input name="search" type="text" class="form-control" placeholder="Enter Your Keyword ..." {% if query %} value="{{query}}" {% endif %}>
							<span id="quik-search-remove"><i class="fa-solid fa-xmark"></i></span>
						</form>
					</div>
					
					<!-- Header Nav -->
					<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
						<div class="logo-header logo-dark">
							<a href="{% url 'frontend:home' %}" class="logo-dark"><img src="{{site_config.Site.logo_dark.value}}" alt=""></a>
						</div>
						<ul class="nav navbar-nav">	
							{% with menu_items='header-menu'|getMenu %}
								{% recursetree menu_items %}
								{% if not node.is_leaf_node %}
								<li  class="sub-menu-down">
								{% else %}
								<li >
								{% endif %}
									<a 
									{% if node.attributes.target == '1' %}
									target="_blank"
									{% endif %}
									class="{{ node.attributes.class }}"
									title="{{ node.attributes.title }}" 
									href="{% if node.link %}
											{{ node.link }}
											{% else %}
											{{ node.type|getMenuItemUrl:node.item_id }}
										{% endif %}"
									>
										{{node.title|truncatechars:20}}
									</a>
									{% if not node.is_leaf_node %}
									<ul class="sub-menu">
										{{children}}
									</ul>
									{% endif %}
								</li>
								{% endrecursetree %}
							{% endwith %}
						</ul>
						<div class="dz-social-icon">
							<ul>
								<li>
									<a target="_blank" href="{{site_config.Social.facebook.value}}">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a target="_blank" href="{{site_config.Social.twitter.value}}">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a target="_blank" href="{{site_config.Social.linkedin.value}}">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
								<li>
									<a target="_blank" href="{{site_config.Social.instagram.value}}">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>	
					</div>
				
				</div>
			</div>
		</div>
	</div>
	<!-- Main Header End -->
	
</header>
<!-- Header -->
