<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Meta -->
	{% load static mptt_tags custom_tags  %}
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content=""/>
	<meta name="author" content=""/>
	<meta name="robots" content=""/>
	<meta name="description" content="{{ dz_array.pagelevel.frontend.public.description }}" />
	<meta property="og:title" content="{{ dz_array.pagelevel.frontend.public.og_title }}" />
	<meta property="og:description" content="{{ dz_array.pagelevel.frontend.public.og_description }}" />
	<meta property="og:image" content="{{ dz_array.pagelevel.frontend.public.og_image }}" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Title -->
	<title>{{ site_config.Site.title.value }}</title>
    
	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{{ site_config.Site.favicon.value }}">




	{% for cssurl in dz_array.pagelevel.frontend.global.css.theme6 %}
    <link  rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}

	
	
</head>
<body id="bg">
	<div class="page-wraper">
	<div id="loading-area" class="loader2">
		<div class="box-load">
			<div class="load-logo logo-white"><img src="{{site_config.Site.other_logo.value}}" alt=""></div>
			<h1 class="ml12">Your Wait Is Going To Finish</h1>
		</div>	
	</div>
	<!-- Header -->
	{% include 'theme6/elements/header.html' %}
	<!-- Header End -->
	

	
	<div class="page-content bg-white">
		
		{% block message %}
		{% endblock %}

		<div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url(/static/theme6/images/banner/pic7.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">{{banner_title}}</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="{% url 'frontend:home' %}"><i class="ti-home"></i>Home</a></li>
							<li>{{banner_title}}</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
		
		<!-- Banner End -->
        <section class="section-full bg-white content-inner">
			<div class="container">
				<div class="row">
					<div
					{% if site_config.Widget.show_sidebar.value == '1' %}
					class="col-lg-8 col-md-8 col-sm-12 col-12"
					{% else %}
					class="col-xl-12 col-lg-12 m-b40"
					{% endif %}
					>
                        {% block content %}
                        {% endblock %}
                    </div>
					{% if site_config.Widget.show_sidebar.value == '1' %}
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
						<aside class="side-bar sticky-top">
							<!--Side Widget Start-->

							{% if site_config.Widget.show_search_widget.value == '1' %}
							<div class="widget recent-posts-entry wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
								<h6 class="widget-title text-center"><span>Search</span></h6>
								<div class="search-bx">
									<form role="search" action="{% url 'frontend:home'  %}" >
										<div class="input-group">
											<input name="search" class="form-control" placeholder="Search Here..." type="text" {% if query %}value="{{query}}"{% endif %}>
											
											<span class="input-group-append">
												<button type="submit" class="btn primary radius-no"><i class="fa fa-search"></i></button>
											</span> 
										</div>
									</form>
								</div>
							</div>
							{% endif %}
							
							{% if site_config.Widget.show_recent_post_widget.value == '1' %}
							<div class="widget recent-posts-entry wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
								<h5 class="widget-title text-center"><span>Recent Posts<spna/></h5>
								<div class="widget-post-bx">

									{% with widget_blogs='3'|getRecentPOST  %}
									{% for post in widget_blogs %}
									<div class="widget-post clearfix">
										<div class="dlab-media">
											<img src="/media/{{post.feature_image}}" alt="">
										</div>
										<div class="dlab-info">
											<div class="dlab-meta">
												<ul>
													<li class="post-category">
														{% if blog.categories.all %}
														{% for category in blog.categories.all %}
															<a href="{% url 'frontend:blogtag' slug=category.slug %}"> {{category.title}},</a>
														{% endfor %}
														{% endif %} </li>
													<li class="post-date">at <span>{{post.publish_on}}</span></li>
												</ul>
											</div>
											<h6 class="dlab-title"><a href="{% url 'frontend:blog-detail' slug=post.slug %}">{{post.title|truncatechars:35 }}</a></h6>
										</div>
									</div>
									{% endfor %}
									{% endwith %}
								</div>
							</div>
							{% endif %}
							
							{% if site_config.Widget.show_category_widget.value == '1' %}
							<div class="widget widget_categories wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
								<h6 class="widget-title text-center"><span>Categories</span></h6>
								<ul>
									{% with categories=''|getWidgetCategories %}
										{% recursetree categories %}
											<li class="cat-item">
												<a href="{% url 'frontend:blogcategory' slug=node.slug %}">
													{{node.title}}
												</a>&nbsp;
												{% if not node.is_leaf_node %}
												<ul>
													{{children}}
												</ul>
												{% endif %}
											</li>    
										{% endrecursetree %}                                     
									{% endwith %}
								</ul>
							</div>
							{% endif %}


							<!--Archives Start-->
							{% if site_config.Widget.show_archive_widget.value == '1' %}
							<div class="widget widget_categories wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
								<h6 class="widget-title text-center"><span>Archive</span></h6>
								<ul>
									{% with archives=''|getWidgetArchives %}
										{% for item in archives %}
										<li class="cat-item">
											<a href="{% url 'frontend:archive' year=item.year month=item.month %}">
												{{ item|date:"F Y" }}
											</a>&nbsp;
										</li>
										
										{% endfor %}
                         
									{% endwith %}
								</ul>
							</div>
							{% endif %}
							<!--Archives End-->

							
							{% if site_config.Widget.show_tag_widget.value == '1' %}
							<div class="widget widget_tag_cloud widget_categories wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
								<h6 class="widget-title text-center"><span>All Tags</span></h6>
								<div class="tagcloud"> 
									{% for tag in ''|getPopularTags %}
									<a href="{% url 'frontend:blogtag' slug=tag.slug %}">{{tag.name}}</a>
									{% endfor %}
								</div>
							</div>
							{% endif %}
							<!--Side Widget End-->
							
						</aside>
					</div>
					{% endif %}

                </div>
            </div>
		</section>


	</div>
		<!-- Footer -->
		{% include 'theme6/elements/footer.html' %}
		<!-- Footer End -->
		
</div>
<!-- JAVASCRIPT FILES ========================================= -->


{% for jsurl in dz_array.pagelevel.frontend.global.js.theme6.top %}
	<script src="{% static jsurl %}"></script>
	{% endfor %}


	{% for jsurl in dz_array.pagelevel.frontend.global.js.theme6.bottom %}
	<script src="{% static jsurl %}"></script>
	{% endfor %}
	<script>
		/*
			On submiting the form, send the POST ajax
			request to server and after successfull submission
			display the object.
		*/
		$("#subscribe-form").submit(function (e) {
			// preventing from page reload and default actions
			e.preventDefault();
			// serialize the data for sending the form data.
			var serializedData = $(this).serialize();
			// make POST ajax call
			$.ajax({
				type: 'POST',
				url: "{% url 'dashboard:subscribe:add-subscriber' %}",
				data: serializedData,
				success: function (response) {
					// on successfull creating object
					// 1. clear the form.
					$("#subscribe-form").trigger('reset');
					alert(response.message);

				},
				error: function (response) {
					// alert the error if any error occured
					alert(respons.error.val);
				}
			})
		})
	</script>

{% block additional_js %}
{% endblock %}

</body>
</html>