{% load static custom_tags mptt_tags %}


<!-- Blog Card Carousel -->
<div class="blog-card-carousel owl-carousel mfp-gallery  owl-none">
    <div class="item">
        <a href="/static/theme5/images/blog/card/pic1.jpg" class="mfp-link dlab-img-effect fade-out" title="">
            <img src="/static/theme5/images/blog/card/pic1.jpg" alt="">
        </a>
    </div>
    <div class="item">
        <a href="/static/theme5/images/blog/card/pic2.jpg" class="mfp-link dlab-img-effect fade-out" title="">
            <img src="/static/theme5/images/blog/card/pic2.jpg" alt="">
        </a>
    </div>
    <div class="item">
        <a href="/static/theme5/images/blog/card/pic3.jpg" class="mfp-link dlab-img-effect fade-out" title="">
            <img src="/static/theme5/images/blog/card/pic3.jpg" alt="">
        </a>
    </div>
    <div class="item">
        <a href="/static/theme5/images/blog/card/pic4.jpg" class="mfp-link dlab-img-effect fade-out" title="">
            <img src="/static/theme5/images/blog/card/pic4.jpg" alt="">
        </a>
    </div>
    <div class="item">
        <a href="/static/theme5/images/blog/card/pic5.jpg" class="mfp-link dlab-img-effect fade-out" title="">
            <img src="/static/theme5/images/blog/card/pic5.jpg" alt="">
        </a>
    </div>
    <div class="item">
        <a href="/static/theme5/images/blog/card/pic6.jpg" class="mfp-link dlab-img-effect fade-out" title="">
            <img src="/static/theme5/images/blog/card/pic6.jpg" alt="">
        </a>
    </div>
</div>
<!-- Blog Card Carousel End -->
<!-- Newslatter -->
<div class="newslatter-bx">
    <div class="container">
        <div class="row m-lr0 align-items-center dezPlaceAni dzSubscribe dz-subscription"> 
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="title-bx">
                    <h2 class="m-b0">Join Our Newslatter!</h2>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 contact-form-bx">
                <form method="post" class="" id="subscribe-form">
                    {% csrf_token %}
                    <div class="form-group subscribe">
                        <div class="input-group">
                            <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Email Address...">
                            <button name="submit" value="Submit" type="submit" class="btn-link">Subscribe</button>
                        </div>
                    </div>
                    <div class="dzSubscribeMsg dz-subscription-msg">&nbsp;</div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Newslatter End -->
<!-- Social Link Box -->
<div class="section-full social-link-bx">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <a href="{{site_config.Social.twitter.value}}" target="_blank" class="social-link">
                    <i class="fa fa-twitter"></i>
                    <span>twitter</span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <a href="{{site_config.Social.facebook.value}}" target="_blank" class="social-link">
                    <i class="fa fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <a href="{{site_config.Social.instagram.value}}" target="_blank" class="social-link">
                    <i class="fa fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <a href="{{site_config.Social.linkedin.value}}" target="_blank" class="social-link">
                    <i class="fa fa-linkedin"></i>
                    <span>Linkedin</span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <a href="{{site_config.Social.youtube.value}}" target="_blank" class="social-link">
                    <i class="fa fa-youtube-play"></i>
                    <span>Youtube</span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <a href="{{site_config.Social.pinterest.value}}" target="_blank" class="social-link">
                    <i class="fa fa-pinterest-p"></i>
                    <span>Pinterest</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Social Link Box End -->
<!-- Footer -->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <ul class="footer-link m-b0">
                        <li><a href="{% url 'frontend:home' %}">Home</a></li>
                        <li><a href="{% url 'frontend:blog_list' %}">All Blogs</a></li>
                        <li><a href="{% url 'frontend:contactus' %}">Contact</a></li>
                    </ul>						
                </div>
                <div class="col-lg-4">
                    <div class="footer-logo">
                        <a href="{% url 'frontend:home' %}" class="logo-white"><img src="{{site_config.Site.other_logo.value}}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p class="copyright">{{site_config.Site.copyright_text.value}}{{site_config.Site.footer_text.value|safe}}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END-->
<button class="scroltop fa fa-chevron-up" ></button>