<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Meta -->
	{% load static mptt_tags custom_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content=""/>
	<meta name="author" content="DexignZone"/>
	<meta name="robots" content=""/>
	<meta name="description" content="{{ dz_array.pagelevel.frontend.public.description }}"/>
	<meta property="og:title" content="{{ dz_array.pagelevel.frontend.public.og_title }}"/>
	<meta property="og:description" content="{{ dz_array.pagelevel.frontend.public.og_description }}"/>
	<meta property="og:image" content="{{ dz_array.pagelevel.frontend.public.og_image }}"/>
	<meta name="format-detection" content="telephone=no">
	
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Title -->
	<title>{{ site_config.Site.title.value }}</title>
    
	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{{ site_config.Site.favicon.value }}">
    




		{% for cssurl in dz_array.pagelevel.frontend.global.css.theme3 %}
		<link  rel="stylesheet" href="{% static cssurl %}" >
		{% endfor %}
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">



</head>


<body>
<!--*******************
        Preloader start
    ********************-->
    <div id="loader">
	</div>
    <!--*******************
        Preloader end
    ********************-->
<div class="page-wraper">
	<!-- Header -->
	{% include site_config.Theme.value|add:'/elements/header.html' %}
	<!-- Header End -->
	
	<div class="page-content">


	


		<!-- blog start -->
		{% block content %}
		{% endblock %}
		<!-- blog END -->





	<!-- Bottom to top -->
	<button class="scroltop icon-up" type="button" style="display: inline-block;"><i class="fas fa-arrow-up"></i></button>






	</div>
		
	<!-- Footer -->
	{% include site_config.Theme.value|add:'/elements/footer.html' %}
    <!-- Footer End -->
	<button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->




		{% for jsurl in dz_array.pagelevel.frontend.global.js.theme3.top %}
		<script src="{% static jsurl %}"></script>
		{% endfor %}

		
		{% for jsurl in dz_array.pagelevel.frontend.global.js.theme3.bottom %}
		<script src="{% static jsurl %}"></script>
		{% endfor %}





</body>
</html>