{% load static mptt_tags custom_tags %}
<div class="modal fade subscribe-modal-bx" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content subscribe-form">
			<div class="modal-header">
				<div class="sub-title">
					<h3 class="title">Join Us To Day</h3>
					<p>Receive Only The Best Posts Via Email</p>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" class="dzSubscribe row align-items-center" id="subscribe-form">
					{% csrf_token %}
					<div class="col-lg-12 col-md-12">
						<div class="form-group">
							<input name="dzName" required="required" type="text" class="form-control" placeholder="Your Name ">
						</div>
					</div>
					<div class="col-lg-12 col-md-12">
						<div class="form-group">
							<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
						</div>
					</div>
					<div class="col-lg-12 col-md-12">
						<div class="form-group m-b0">
							<button name="submit" value="Submit" type="submit" class="btn secondry radius-no btn-block">Subscribe</button>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="dzSubscribeMsg"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="header-author" style=" background-image: url(/static/theme8/images/banner/pic5.jpg); background-size: cover; background-position:center;">
	<div class="author-bx">
		<div class="author-info text-center">
			<h2 class="title say-hi">Hi</h2>
			<p>I am Shailja Reddy I am developer base in London</p>
			<ul class="author-social">
                <li><a href="{{site_config.Social.facebook.value}}" class="" target="_blank"><i class="fa fa-facebook"></i> <span>facebook</span></a></li>
                <li><a href="{{site_config.Social.instagram.value}}" class="" target="_blank"><i class="fa fa-instagram"></i> <span>instagram</span></a></li>
                <li><a href="{{site_config.Social.twitter.value}}" class="" target="_blank"><i class="fa fa-twitter"></i> <span>twitter</span></a></li>
                <li><a href="{{site_config.Social.linkedin.value}}" class="" target="_blank"><i class="fa fa-linkedin"></i> <span>linkedin</span></a></li>
            </ul>
		</div>
	</div>
</div>
<header class="site-header mo-left header-full header">
	<!-- main header -->
	<div class="sticky-header main-bar-wraper navbar-expand-lg">
		<div class="main-bar clearfix ">
			<div class="container-fluid">
				<!-- website logo -->
				<div class="logo-header mostion">
					<a href="{% url 'frontend:home' %}" class="logo-white"><img src="{{site_config.Site.other_logo.value}}" alt=""></a>
				</div>
				
				<!-- nav toggle button -->
				<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				
				<!-- extra nav -->
				<div class="extra-nav">
					<div class="extra-cell">
						
						<ul>
							<li class="search-btn">
								<a id="quik-search-btn" href="javascript:;"><i class="ti-search m-r10"></i><span>Search</span></a>
							</li>
							<li>
								<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn secondry radius-no">Subscribe</button>
							</li>
						</ul>
						
					</div>
				</div>
				
				<!-- Quik search -->
				<div class="dlab-quik-search">
					<form action="{% url 'frontend:home'  %}">
						<input name="search" type="text" class="form-control" placeholder="Search..." {% if query %} value="{{query}}" {% endif %}>
						<button id="quik-search" type="submit"><i class="ti-search"></i></button>
					</form>
					<span class="search-remove" id="quik-search-remove"><i class="ti-close"></i></span>
				</div>
				<!-- main nav -->
				
				<div class="header-nav navbar-collapse collapse justify-content-center" id="navbarNavDropdown">
					<div class="logo-header">
						<a href="{% url 'frontend:home' %}" class="logo-white"><img src="{{site_config.Site.other_logo.value}}" alt=""></a>
					</div>
					<ul class="nav navbar-nav">	
                        {% with menu_items='header-menu'|getMenu %}
                            {% recursetree menu_items %}
                            {% if not node.is_leaf_node %}
                            <li  class="sub-menu-down">
                            {% else %}
                            <li >
                            {% endif %}
                                <a 
                                {% if node.attributes.target == '1' %}
                                target="_blank"
                                {% endif %}
                                class="{{ node.attributes.class }}"
                                title="{{ node.attributes.title }}" 
                                href="{% if node.link %}
                                        {{ node.link }}
                                        {% else %}
                                        {{ node.type|getMenuItemUrl:node.item_id }}
                                    {% endif %}"
                                >
                                    {{node.title|truncatechars:20}}
                                </a>
                                {% if not node.is_leaf_node %}
                                <ul class="sub-menu">
                                    {{children}}
                                </ul>
                                {% endif %}
                            </li>
                            {% endrecursetree %}
                            <li><a href="{% url 'frontend:contactus' %}" class="">Contact</a></li>
                        {% endwith %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>