{% extends 'theme7/elements/layouts/layout2.html' %}

{% load static custom_tags widget_tweaks %}

{% block additional_css %}
{% endblock %}


{% block content %}
<section class="content-inner-2 z-index-none">	
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-xl-5 m-sm-b30 m-xl-b0">	
                <div class="contact-box">
                    <h3 class="contact-title">Contact Information</h3>
                    <p class="contact-text">Fill up the form and our Team will get back to you within 24 hours.</p>
                    <div class="widget widget_getintuch ">
                        <ul>
                            <li>
                                <i class="fa-solid fa-location-dot"></i>
                                <p>{{site_config.Site.address.value}}</p>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone"></i>
                                <p>{{site_config.Site.contact.value}}</p>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope"></i>
                                <p>{{site_config.Site.email.value}}</p>
                            </li>
                        </ul>
                    </div>
                    <h6 class="m-b15 text-white">Our Socials</h6>
                    <div class="dz-social-icon style-1 dark">
                        <ul>
                            <li><a target="_blank" class="fab fa-facebook-f" href="{{site_config.Social.facebook.value}}"></a></li>
                            <li><a target="_blank" class="fab fa-instagram" href="{{site_config.Social.instagram.value}}"></a></li>
                            <li><a target="_blank" class="fab fa-twitter" href="{{site_config.Social.twitter.value}}"></a></li>
                            <li><a target="_blank" class="fa-brands fa-whatsapp" href="https://whatsapp.com/"></a></li>
                        </ul>
                    </div>
                    <svg width="250" height="70" viewBox="0 0 250 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 38L250 0L210 70L0 38Z" fill="url(#paint0_linear_306_1296)"/>
                        <defs>
                            <linearGradient id="paint0_linear_306_1296" x1="118.877" y1="35.552" x2="250.365" y2="35.552" gradientUnits="userSpaceOnUse">
                            <stop offset="1" stop-color="var(--primary)"/>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="col-md-6 col-xl-7">
                <form class="dz-form dzForm style-1" method="post">{% csrf_token %}
                    {% include 'theme7/elements/alert.html' %}
                    {% if message %}
                    <div class="text-success mb-3">{{ message }}</div>
                    {% endif %}
                    {% if errors %}
                    <div class="text-danger mb-3">{{ errors }}</div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group input-line">
                                {{ contactus_form.name|attr:"class:form-control"|attr:"placeholder:Full Name" }}
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="input-group input-line">
                                {{ contactus_form.phone|attr:"class:form-control"|attr:"placeholder:Phone No." }}
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="input-group input-line">
                                {{ contactus_form.email|attr:"class:form-control"|attr:"placeholder:Email Address" }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group input-line m-b30">
                                {{ contactus_form.message|attr:"class:form-control"|attr:"rows:5" |attr:"placeholder:Add Your Message" }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button name="submit" type="submit" value="Submit" class="btn btn-primary btn-lg btn-skew"><span>Send Message</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="container content-inner-1">
    <div class="map-iframe">
        
        <iframe src="{{site_config.Site.location.value}}" style="border:0; margin-bottom: -7px; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{% endblock %}

{% block additional_js %}

{% endblock %}