{% extends 'dashboard/elements/layouts/admin.html' %}
{% load static %}


{% block additional_css %}
 
{% endblock %}



{% block message %}
{% include 'dashboard/elements/alert.html' %}
{% endblock %}


{% block content %}

<div id="message">
</div>



<!-- Filter -->

<div class="custome-accordion">
    <div class="accordion" id="accordionPageFilter">
        <div class="accordion-item card">
            <h2 class="accordion-header border-0" id="headingOne">
            <button class="accordion-button d-flex justify-content-between align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collaps-page-filter" aria-expanded="true" aria-controls="collaps-page-filter">
                    <span class="acc-heading">Filter</span>
            </button>
            </h2>
            <div id="collaps-page-filter" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionPageFilter" style="">
                <div class="accordion-body card-body pt-0">
                <form action="{% url 'dashboard:blog:blogs' %}" method="post" id="blog-filter-form">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-6 col-xl-3">
                                    <div class="mb-3">
                                    
                                        <input type="text"
                                        name="filter-blog-title"
                                        class="form-control input-default"
                                        placeholder="Title"
                                        {% if form_data.filter_title %}
                                        value="{{form_data.filter_title}}"
                                        {% endif %}
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-3">
                                  
                                    <select name="filter-blog-status" class="default-select form-control wide mb-3">
                                      {% for stat in status %}
                                        <option value="{{stat.value}}" {% if stat.value == form_data.filter_status %}selected{% endif %}>{{stat.label}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-6 col-xl-3">
                                  
                                    <input type="date" 
                                            name="filter-blog-bydate" 
                                            class="datetimepicker form-control mb-3"
                                            {% if form_data.filter_date %}
                                            value="{{form_data.filter_date}}"
                                            {% endif %}
                                            >
                                </div>
                                <div class="col-lg-6 col-xl-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-primary w-100 mb-3"><i class="fa-solid fa-magnifying-glass me-1"></i>Filter</button>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="javascript:void(0);" type="button" class="btn light btn-outline-primary clear-blog-filter w-100">Clear</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </form>
                
                </div>
            </div>  
        </div>
    </div>
</div>


<!--END Filter-->





        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Blogs</h4>
                    
                    <div class="d-flex">
                        {% if perms.blog.delete_blogs %}
                            <button type="button" id="delete_multiple_items" data-url="{% url 'dashboard:blog:delete-multiple-blogs' %}" class="btn light btn-outline-primary me-2 ">Delete</button>
                        {% endif %}
                        
                        {% if perms.blog.add_blogs %}
                        <a href="{% url 'dashboard:blog:blog_create' %}" class="btn btn-primary">ADD Blog<span class="btn-icon-end">
                            <i class="fa fa-plus"></i></span>
                        </a>
                        {% endif %}

                    </div>

                </div>
                <div class="card-body pb-0">
                    <div class="table-responsive">
                        <table class="table table-responsive-md">
                            <thead>
                                <tr>
                                    <th style="width:50px;">
                                        <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
                                            <input  type="checkbox" class="form-check-input" id="checkAll" value="">
                                            <label class="form-check-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                   
                                      <!--<th>S.No.</th>-->
                                      <th>Title</th>
                                      <th>Status</th>
                                      <th>Visibility</th>
                                      <th>Publish On</th>
                                      <th>Created At</th>
                                      <th>Updated At</th>
                                      <th>Copy url</th>
                                      {% if perms.blog.change_blogs or perms.blog.delete_blogs %}  
                                      <th>Action</th>
                                      {% endif %}
                                  
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% csrf_token %}
                                {% for blog in blogs %}
                                <tr id="{{ blog.id }}">
                                    <td>
                                        <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
                                            <input name="blog_id[]" type="checkbox" class="form-check-input" value="{{ blog.id }}">
                                            <label class="form-check-label" for="checkbox-{{ blog.id }}"></label>
                                        </div>
                                    </td>


                                      <!--<th>{{ forloop.counter }}</th>-->
                                      <td>{{ blog.title|truncatechars:30  }}</td>
                                      <td>{{ blog.status }}</td>
                                      <td>
                                          {% if blog.visibility == 'PP' %}
                                          <span class="label label-warning">Password Protected</span>
                                          {% endif %}
                                          {% if blog.visibility == 'Pu' %}
                                          <span class="label label-success">Public</span>
                                          {% endif %}
                                          {% if blog.visibility == 'Pr' %}
                                          <span class="label label-info">Private</span>
                                          {% endif %}
                                    </td>
                                      <td>{{ blog.publish_on }}</td>
                                      <td>{{ blog.created_at }}</td>
                                      <td>{{ blog.updated_at }}</td>
                                      <td class="text-center"><a class="copyToClip" title="Copy To Clipboard."><i class="far fa-copy"></i><span class="d-none site_url" >{{request.scheme}}://{{ request.META.HTTP_HOST }}/blog/{{blog.slug}}/</span></a></td>
                         
                                      {% if perms.blog.change_blogs or perms.blog.delete_blogs %}                            
                                    <td>
                                        <div class="sweetalert">
                                            <div class="d-flex">

                                                {% if perms.blog.change_blogs %}
                                                <a href="{% url 'dashboard:blog:blog_edit' id=blog.id %}" class="btn btn-primary shadow btn-xs sharp me-1" title="Edit"><i class="fa fa-pencil"></i></a>
                                                {% endif %}
                                                {% if perms.blog.delete_blogs %}
                                                <a href="{% url 'dashboard:blog:blog_delete' id=blog.id %}" class="btn btn-danger shadow btn-xs sharp sweet-success-cancel" title="Delete"><i class="fa fa-trash"></i></a>
                                                {% endif %}
                                               
                                                

                                            </div>
                                    </div>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="text-primary d-flex justify-content-center">
                            <h4>{{message}}</h4>
                        </div>
                    </div>

                    {% if not message  %}
                    <nav mt-5 class="d-flex align-items-center justify-content-between py-3">

                        <p>
                            <span class="current">
                            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
                           </span> 
                        </p>
                        <ul class="pagination pagination-gutter">
                            
                                <li class="page-item page-indicator ">
                                    <a class="page-link" href="{% if blogs.has_previous %}
                                                                ?page={{ blogs.previous_page_number }}
                                                                {% else %}
                                                                javascript:void(0);
                                                                {% endif %}">
                                        <i class="la la-angle-left"></i></a>
                                </li>

                            {% for i in blogs.paginator.page_range|slice:":3" %}

                                <li class="page-item {% if blogs.number == i %}
                                                    active{% endif %}"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            
                            {% endfor %}

                            
                            {% if blogs.number > 3 %}
                            <li class="page-item active"><a class="page-link" href="?page={{ blogs.number }}">{{ blogs.number }}</a></li>
                            {% endif %}
                            
                            <li class="page-item page-indicator">
                                <a class="page-link"  href="{% if blogs.has_next %}
                                                            ?page={{ blogs.next_page_number }}
                                                            {% else %}
                                                            javascript:void(0);
                                                            {% endif %}">
                                    <i class="la la-angle-right"></i></a>
                            </li>
                            <li>

                              

                            </li>
                        </ul>
                       
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>


{% endblock %}


{% block additional_js %}



   
{% endblock %}










