{% extends 'theme4/elements/layouts/layout1.html' %}

{% load static custom_tags %}

{% load static custom_tags widget_tweaks %}

{% block additional_css %} 
{% endblock %}




{% block message %}
{% comment %} {% include 'dashboard/elements/alert.html' %} {% endcomment %}
{% endblock %}



{% block content %}




{% if instance %}
    {% if not is_locked %}
	
            <div class="section-head text-center">
                <h2 class="title-head">{{ instance.title }}</h2> 
            </div>
            <div class="blog-post blog-single blog-post-style-2 sidebar">
                <div class="dlab-post-info">
                    <div class="dlab-post-text text">
                        <div class="alignwide">
                            <figure class="aligncenter">
                                <img src="/media/{{ instance.feature_image }}" alt="">
                            </figure>
                        </div>
                        <p>{{ instance.excerpt }}</p>
                            {{instance.content|safe}}
                    </div>
                    <div class="blog-card-info style-1 no-bdr">
                        <div class="date">
                            {{instance.publish_on}}
                        </div>
                        <div class="">
                            <ul class="social-link-round">
                                <li class="link-ic"><a href="javascript:void(0);" class="btn-link share"><i class="la la-share-alt"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/" class="btn-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://in.pinterest.com/" class="btn-link"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/" class="btn-link"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/" class="btn-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="tagcloud widget_tag_cloud">
                            {% for cate in instance.categories.all %}
                            <a href="{% url 'frontend:blogcategory' slug=cate.slug %}">{{cate.title}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="">
                <div class="author-box blog-user m-b60">
                    <div class="author-profile-info">
                        <div class="author-profile-pic">
                            <img src="/media/{{instance.user.avatar}}" alt="">
                        </div>
                        <div class="author-profile-content">
                            <h6>By {{ instance.user.username }}</h6>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quisma bibendum auctor nisi elit consequat ipsum, nec sagittis sem amet nibh vulputate cursus itaet mauris. </p>
                            <ul class="list-inline m-b0">
                                <li><a target="_blank" href="https://twitter.com/" class="btn-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://in.pinterest.com/" class="btn-link"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/" class="btn-link"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/" class="btn-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear m-b30" id="comment-list">
                <div class="comments-area" id="comments">
                    {% with allcomments.count as total_comments %}
                    <h6 class="comments-title" >
                        {{ total_comments }} <span>Comment{{ total_comments|pluralize }}</span>
                    </h6>
                    {% endwith %}

                    {% comment %} <div class="clearfix"> {% endcomment %}
                    {% load mptt_tags %}
                        <ol class="comment-list">
                            {% recursetree comments %}
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comment-author vcard"> 
                                        <img class="avatar photo" src="/static/theme4/images/no-user.png" alt=""> 
                                        <cite class="fn">{{ node.name }}</cite> <span class="says">says:</span> 
                                    </div>
                                    <div class="comment-meta"> <a href="#">{{ node.publish }}</a> </div>
                                    <p>{{ node.content }}</p>
                                    {% if node.level < 3 %}
                                    <div class="reply"> <a href="{{ node.id }}" data-commentid="{{ node.id }}" data-postid="{{ instance.id }}" data-replyto="Reply to {{ node.name }}" class="comment-reply-link w3-comment-reply"><i class="fa fa-share"></i></a> </div>
                                    {% endif %}
                                </div>
                                {% if not node.is_leaf_node %}
                                <ol class="children">
                                    {{ children }}
                                </ol>
                                {% endif %}
                                <!-- list END -->
                            </li>
                            {% endrecursetree %}
                        </ol>
                        
                        <!-- comment list END -->
                        <!-- Form -->
                        <div class="comments-div">
                            <div id="ReplyFormContainer">
                                <h3 class="comment-reply-title text-center">Leave a Reply 
                                </h3>
                                <h4 >
                                    <span id="reply-title"></span>
                                    <small> <a style="display:none;" href="javascript:void(0);" id="cancel-comment-reply" rel="nofollow">Cancel reply</a></small>  
                                </h4>
                                {% include 'theme4/elements/alert.html' %}
                                {% if message %}
                                <div class="text-success mb-3">{{ message }}</div>
                                {% endif %}
                                {% if errors %}
                                <div class="text-danger mb-3">{{ errors }}</div>
                                {% endif %}
                                <form class="comment-form" id="commentform" method="post">
                                    {% csrf_token %}
                                    {{ comment_form.parent|attr:"type:hidden"|attr:"id:comment_parent_id"}}
                                    {{ comment_form.status|attr:"type:hidden"|attr:"id:id_status"}}
                                    <p class="comment-form-author">
                                        <label for="name">Name <span class="required">*</span></label>
                                        {{ comment_form.name|attr:"type:text"|attr:"id:name"|attr:"class:form-control"|attr:"placeholder:Name" }}
                                    </p>
                                    <p class="comment-form-email">
                                        <label for="email">Email <span class="required">*</span></label>
                                        {{ comment_form.email|attr:"type:text"|attr:"id:email"|attr:"class:form-control"|attr:"placeholder:Email" }}
                                    </p>
                                    <p class="comment-form-comment">
                                        <label for="content">Comment</label>
                                        {{ comment_form.content|attr:"type:text"|attr:"id:content"|attr:"class:form-control"|attr:"placeholder:Add a Comment" }}
                                    </p>
                                    <p class="mb-5">
                                    <input type="submit" value="Post Comment" class="submit" id="submit">
                                    </p>
                            </div>
                        </div>
                        <!-- Form END -->
                    </div>
                {% comment %} </div> {% endcomment %}
            </div>
	{% else %}
	<form  method="post"> {% csrf_token %}
            <div class="form-group">
                <label>Password <span class="text-danger">*</span></label>
                <input type="password" name="password" class="form-control mb-3"> 
                {% if message %}
                <div class="text-danger mb-2">
                    {{message}}
                </div>
                {% endif %}
            </div>
            <button class="btn radius-xl" type="submit">Submit form</button>
        </form>
	{% endif %}
{% else %}
<h3>Not Valid!!!</h3>
<h4>{{message}}</h4>




{% endif %}



{% endblock %}

{% block additional_js %}

{% endblock %}