{% extends 'theme4/elements/layouts/layout1.html' %}   

{% load static  %}

{% block additional_css %}
{% endblock %}

{% block message %}
{% comment %} {% include 'dashboard/elements/alert.html' %} {% endcomment %}  
{% endblock %}

{% block content %}

{% if blogs %}
{% for blog in blogs %}
{% comment %} {{ blog.tags.all }} {% endcomment %}
<div class="col-12">
    <div class="blog-card post-left">
        <div class="blog-card-media">
            <a href="{% url 'frontend:blog-detail' slug=blog.slug %}"><img src="/media/{{blog.feature_image}}" alt=""></a>
        </div>
        <div class="blog-card-info">
            <div class="title-sm">
                
                {% if blog.categories.all %}
                {% for category in blog.categories.all %}
                    <a href="{% url 'frontend:blogtag' slug=category.slug %}"> {{category.title}}.</a>
                {% endfor %}
                {% endif %} 
            </div>
            <h4 class="title"><a href="{% url 'frontend:blog-detail' slug=blog.slug %}">{{blog.title|truncatechars:40}}</a></h4>
            <p>{{ blog.excerpt|truncatechars:190 }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <ul class="social-link-round">
                <li class="link-ic"><a href="javascript:void(0);" class="btn-link share"><i class="la la-share-alt"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/" class="btn-link"><i class="fab fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://in.pinterest.com/" class="btn-link"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a target="_blank" href="https://www.facebook.com/" class="btn-link"><i class="fab fa-facebook-f"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/" class="btn-link"><i class="fab fa-instagram"></i></a></li>
            </ul>
                <div class="">
                    <a href="{% url 'frontend:blog-detail' slug=blog.slug %}"><i class="la la-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %} 

<div class="col-xl-12 col-lg-12 m-b30 m-t30 m-lg-t10">
    <div class="pagination-bx clearfix text-center" aria-label="Blog Pagination">
        <ul class="pagination">
            {% if blogs.has_previous %}
            <li class="page-item"><a class="page-link prev" href="?page={{ blogs.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            
            {% for i in blogs.paginator.page_range %}
            <li class="page-item"><a class="page-link {% if blogs.number == i %}active{% endif %}" href="?page={{i}}">{{i}}</a></li>
            {% endfor %}
           
            {% if blogs.has_next %}
            <li class="page-item"><a class="page-link next" href="?page={{ blogs.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% else %}

  <h3>No Blog Assing To This Category</h3>
  
  {% endif %}
  


{% endblock %}

{% block additional_js %}

{% endblock %}