{% extends 'theme3/elements/layouts/layout1.html' %} 

{% load static custom_tags %}

{% load static custom_tags widget_tweaks %}

{% block additional_css %} 
{% endblock %}




{% block message %}
{% comment %} {% include 'dashboard/elements/alert.html' %} {% endcomment %}
{% endblock %}



{% block content %}




{% if instance %}
    {% if not is_locked %}
	
        <div class="blog-single dz-card sidebar">
            <div class="dz-media dz-media-rounded">
                <img src="/media/{{ instance.feature_image }}" alt="">
            </div>
            <div class="dz-info m-b30">
                <div class="dz-meta">
                    <ul>
                        <li class="post-author">
                            <a href="javascript:void(0);">
                                <img src="/media/{{instance.user.avatar}}" alt="" > 
                                <span>By{{instance.user.first_name}}{{instance.user.last_name}}</span>
                            </a>
                        </li>
                        <li class="post-date"><a href="javascript:void(0);">{{instance.publish_on}}</a></li>
                        <li class="post-comment"><a href="javascript:void(0);">3 comment</a></li>
                    </ul>
                </div>
                <h3 class="dz-title">{{ instance.title }}</h3>
                <div class="dz-post-text">
                        <p>{{ instance.excerpt }}</p>
                        {{instance.content|safe}}
                </div>
                <div class="dz-share-post">
                    <div class="post-tags">
                    <h6 class="m-b0 m-r10 d-inline">Tags:</h6>
                        <a href="javascript:void(0);"><span>Corporate</span></a>
                        <a href="javascript:void(0);"><span>Blog</span></a>
                        <a href="javascript:void(0);"><span>Marketing</span></a>
                    </div>
                    <div class="dz-social-icon dark">
                        <ul>
                            <li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/"></a></li>
                            <li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/"></a></li>
                            <li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/"></a></li>
                            <li><a target="_blank" class="fab fa-youtube" href="https://www.youtube.com/"></a></li>
                        </ul>
                    </div>									
                </div>
            </div>
        </div>

        <div class="clear" id="comment-list">
            <div class="comments-area style-1 clearfix" id="comments">
                <div class="widget-title">
                    {% with allcomments.count as total_comments %} 
                     <h4 class="title">{{ total_comments }} <span>Comment{{ total_comments|pluralize }}</span></h4>
                     {% endwith %}
                </div>
                <div class="clearfix">
                    <!-- comment list Start-->
                    {% load mptt_tags %}
                    <ol class="comment-list">
                        {% recursetree comments %}
                        <li class="comment">
                            <div class="comment-body">
                                <div class="comment-author vcard"> 
                                    <img class="avatar photo" src="/static/theme3/images/no-user.png" alt=""> 
                                </div>
                                <div class="comment-info">
                                    <div class="title">
                                        <cite class="fn">{{ node.name }}</cite>
                                        <span>{{ node.publish }}</span>
                                    </div>
                                    <p>{{ node.content }}</p>
                                    <div class="reply"> 
                                        <a href="{{ node.id }}" data-commentid="{{ node.id }}" data-postid="{{ instance.id }}" data-replyto="Reply to {{ node.name }}" class="comment-reply-link w3-comment-reply">Reply</a> 
                                    </div>
                                </div>
                            </div>
                            {% if not node.is_leaf_node %}
                            <ol class="children">
                                {{ children }}
                            </ol>
                             {% endif %}
                        </li>
                        {% endrecursetree %}
                    </ol>
                    <!-- comment list END -->
                </div>
                <div class="comments-div">
                    <div class="comment-respond" id="ReplyFormContainer">
                        <div class="widget-title">
                            <h4 class="title">Leave A Reply</h4>
                        </div>
                        <h4>
                            <span id="reply-title"></span>
                            <small> <a style="display:none;" href="javascript:void(0);" id="cancel-comment-reply" rel="nofollow">Cancel reply</a></small> 
                        </h5>
                        <div class="clearfix">
                            <!-- Form -->
                            <div class="default-form comment-respond style-1" id="respond">
                                {% include 'theme3/elements/alert.html' %}
                                {% if message %}
                                <div class="text-success mb-3">{{ message }}</div>
                                {% endif %}
                                {% if errors %}
                                <div class="text-danger mb-3">{{ errors }}</div>
                                {% endif %}
                                <form class="comment-form" id="commentform" method="post">
                                    {% csrf_token %}
                                    {{ comment_form.parent|attr:"type:hidden"|attr:"id:comment_parent_id"}}
                                    {{ comment_form.status|attr:"type:hidden"|attr:"id:id_status"}}
                                    <p class="">
                                        <label>Name <span class="required">*</span></label>
                                        {{ comment_form.name|attr:"type:text"|attr:"id:id_name" |attr:"placeholder:Name" }}
                                    </p>
                                    <p class="">
                                        <label>Email <span class="required">*</span></label>
                                        {{ comment_form.email|attr:"type:text"|attr:"id:id_email"|attr:"placeholder:Email" }}
                                    </p>
                                    <p class="comment-form-comment">
                                        <label>Comment</label>
                                        {{ comment_form.content|attr:"type:text"|attr:"id:id_content" |attr:"rows:5" |attr:"placeholder:Add a Comment" }}
                                    </p>
                                    <p class="form-submit">
                                        <button type="submit" class="btn btn-primary btn-skew btn-icon" id="submit"><span>Submit Now</span></button>
                                    </p>
                                </form>
                            </div>
                            <!-- Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

	{% else %}
	<form  method="post"> {% csrf_token %}
            <div class="form-group">
                <label>Password <span class="text-danger">*</span></label>
                <input type="password" name="password" class="form-control mb-3">
                {% if message %}
                <div class="text-danger mb-2">
                    {{message}}
                </div>
                {% endif %}
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
	{% endif %}
{% else %}
<h3>Not Valid!!!</h3>
<h4>{{message}}</h4>




{% endif %}



{% endblock %}

{% block additional_js %}

{% endblock %}