{% extends 'theme3/elements/layouts/layout1.html' %}   

{% load static  %}

{% block additional_css %} 
{% endblock %}




{% block message %}
{% comment %} {% include 'dashboard/elements/alert.html' %} {% endcomment %}
{% endblock %}



{% block content %}


{% if blogs %}
{% for blog in blogs %}
    <div class="col-lg-12 m-b40">
        <div class="dz-card style-1 blog-half"> 
            <div class="dz-media">
                <a href="{% url 'frontend:blog-detail' slug=blog.slug %}"><img src="/media/{{blog.feature_image}}" alt=""></a>
                <ul class="dz-badge-list">
                    <li><a href="javascript:void(0);" class="dz-badge">{{blog.publish_on}}</a></li>
                </ul>
                <a href="{% url 'frontend:blog-detail' slug=blog.slug %}" class="btn btn-secondary">Read More</a>
            </div>
            <div class="dz-info">
                <div class="dz-meta">
                    <ul>
                        <li class="post-author">
                            <a href="javascript:void(0);">
                                <img src="/media/{{ blog.user.avatar }}" alt="">
                                <span>By {{ blog.user.username }}</span>
                            </a>
                        </li>
                        <li class="post-date"><a href="javascript:void(0);"> 12 May 2022</a></li>
                    </ul>
                </div>
                <h4 class="dz-title"><a href="{% url 'frontend:blog-detail' slug=blog.slug %}">{{blog.title}}</a></h4>
                <p class="m-b0">{{ blog.excerpt|truncatechars:200 }}</p>
            </div>
        </div>
    </div>


  {% endfor %} 




  <div class="col-xl-12 col-lg-12 m-b30 m-t30 m-lg-t10">
    <nav aria-label="Blog Pagination">
        <ul class="pagination style-1 text-center">
            {% if blogs.has_previous %}
            <li class="page-item"><a class="page-link prev" href="?page={{ blogs.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
            {% endif %}
            {% for i in blogs.paginator.page_range %}
            <li class="page-item"><a class="page-link {% if blogs.number == i %}active{% endif %}" href="?page={{i}}">{{i}}</a></li>
            {% endfor %}
           
            {% if blogs.has_next %}
            <li class="page-item"><a class="page-link next" href="?page={{ blogs.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
</div>




  {% else %}

  <h3>No Blog Assing To This Category</h3> 
  
  {% endif %}
  


{% endblock %}

{% block additional_js %}

{% endblock %}





















<div class="row">
    <div class="col-lg-12 m-b40">
        <div class="dz-card style-1 blog-half">
            <div class="dz-media">
                <a href="blog-details.html"><img src="images/blog/pic1.jpg" alt=""></a>
                <ul class="dz-badge-list">
                    <li><a href="javascript:void(0);" class="dz-badge">14 Fan 2022</a></li>
                </ul>
                <a href="blog-details.html" class="btn btn-secondary">Read More</a>
            </div>
            <div class="dz-info">
                <div class="dz-meta">
                    <ul>
                        <li class="post-author">
                            <a href="javascript:void(0);">
                                <img src="images/avatar/avatar1.jpg" alt="">
                                <span>By Noare</span>
                            </a>
                        </li>
                        <li class="post-date"><a href="javascript:void(0);"> 12 May 2022</a></li>
                    </ul>
                </div>
                <h4 class="dz-title"><a href="blog-details.html">Five Things To Avoid In Cryptocurrency</a></h4>
                <p class="m-b0">Nostrud tem exrcitation duis laboris nisi ut aliquip sed duis aute cupidata lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 m-b40">
        <div class="dz-card style-1 blog-half">
            <div class="dz-media">
                <a href="blog-details.html"><img src="images/blog/pic2.jpg" alt=""></a>
                <ul class="dz-badge-list">
                    <li><a href="javascript:void(0);" class="dz-badge">14 Fan 2022</a></li>
                </ul>
                <a href="blog-details.html" class="btn btn-secondary">Read More</a>
            </div>
            <div class="dz-info">
                <div class="dz-meta">
                    <ul>
                        <li class="post-author">
                            <a href="javascript:void(0);">
                                <img src="images/avatar/avatar2.jpg" alt="">
                                <span>By Noare</span>
                            </a>
                        </li>
                        <li class="post-date"><a href="javascript:void(0);"> 12 May 2022</a></li>
                    </ul>
                </div>
                <h4 class="dz-title"><a href="blog-details.html">Things That Make You Love Cryptocurrency</a></h4>
                <p class="m-b0">Nostrud tem exrcitation duis laboris nisi ut aliquip sed duis aute cupidata lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 m-b40">
        <div class="dz-card style-1 blog-half">
            <div class="dz-media">
                <a href="blog-details.html"><img src="images/blog/pic3.jpg" alt=""></a>
                <ul class="dz-badge-list">
                    <li><a href="javascript:void(0);" class="dz-badge">14 Fan 2022</a></li>
                </ul>
                <a href="blog-details.html" class="btn btn-secondary">Read More</a>
            </div>
            <div class="dz-info">
                <div class="dz-meta">
                    <div class="dz-meta">
                        <ul>
                            <li class="post-author">
                                <a href="javascript:void(0);">
                                    <img src="images/avatar/avatar3.jpg" alt="">
                                    <span>By Noare</span>
                                </a>
                            </li>
                            <li class="post-date"><a href="javascript:void(0);"> 12 May 2022</a></li>
                        </ul>
                    </div>
                </div>
                <h4 class="dz-title"><a href="blog-details.html">Why You Should Not Go To crypto currency.</a></h4>
                <p class="m-b0">Nostrud tem exrcitation duis laboris nisi ut aliquip sed duis aute cupidata lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>  
    </div>
    <div class="col-lg-12 m-b40">
        <div class="dz-card style-1 blog-half">
            <div class="dz-media">
                <a href="blog-details.html"><img src="images/blog/pic4.jpg" alt=""></a>
                <ul class="dz-badge-list">
                    <li><a href="javascript:void(0);" class="dz-badge">14 Fan 2022</a></li>
                </ul>
                <a href="blog-details.html" class="btn btn-secondary">Read More</a>
            </div>
            <div class="dz-info">
                <div class="dz-meta">
                    <ul>
                        <li class="post-author">
                            <a href="javascript:void(0);">
                                <img src="images/avatar/avatar1.jpg" alt="">
                                <span>By Noare</span>
                            </a>
                        </li>
                        <li class="post-date"><a href="javascript:void(0);"> 12 May 2022</a></li>
                    </ul>
                </div>
                <h4 class="dz-title"><a href="blog-details.html">14 Days To A Better Crypto Currency.</a></h4>
                <p class="m-b0">Nostrud tem exrcitation duis laboris nisi ut aliquip sed duis aute cupidata lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 m-b30 m-t30 m-lg-t10">
        <nav aria-label="Blog Pagination">
            <ul class="pagination style-1 text-center">
                <li class="page-item"><a class="page-link prev" href="javascript:void(0);"><i class="fas fa-chevron-left"></i></a></li>
                <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                <li class="page-item"><a class="page-link next" href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>