{% extends 'theme3/elements/layouts/layout2.html' %}

{% load static custom_tags %}

{% block additional_css %}

{% endblock %}




{% block message %}
{% comment %} {% include 'dashboard/elements/alert.html' %} {% endcomment %}
{% endblock %}

{% block content %}
{% if page_obj %}
    {% if not is_locked %}
        
        {{ page_obj.content|safe }}
    {% else %}



		<!-- Banner  -->
		<div class="dz-bnr-inr style-1 text-center"> 
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<h1>Pricing Table</h1>
					<p class="text">Transfer USD, EUR, or Crypto and start trading today!</p>
					<!-- Breadcrumb Row -->
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Pricing Table</li>
						</ul>
					</nav>
					<!-- Breadcrumb Row End -->
				</div>
			</div>
			<img class="bg-shape1" src="static/theme3/images/home-banner/shape1.png" alt="">
			<img class="bg-shape2" src="static/theme3/images/home-banner/shape1.png" alt="">
			<img class="bg-shape3" src="static/theme3/images/home-banner/shape3.png" alt="">
			<img class="bg-shape4" src="static/theme3/images/home-banner/shape3.png" alt="">
		</div>
		<!-- Banner End -->



		<!-- Contact form sectio starts from here -->
		<section class="content-inner contact-form-wraper style-1">
			<div class="container">
				<div class="row align-items-center">

                            <form  method="post" class="login-form"> {% csrf_token %}
                                <div class="form-group">
                                
                                    <label class="mb-2">Password<span class="text-danger">*</span></label>
                                    <input type="password" name="password" class="form-control w-50">
                                    {% if message %}
                                    <div class="text-danger mb-2">
                                        {{message}}
                                    </div>
                                    {% endif %}
                                </div>
                                <button class="btn btn-primary mt-3 " type="submit">Submit</button>
                            </form>

                        </div>




                    </div>

        </section>
    {% endif %}

{% endif %}

{% endblock %}

{% block additional_js %}

{% endblock %}