<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
	{% load static mptt_tags custom_tags %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="DexignZone" />
	<meta name="robots" content="" />
	<meta name="description" content="{{ dz_array.pagelevel.frontend.public.description }}" />
	<meta property="og:title" content="{{ dz_array.pagelevel.frontend.public.og_title }}" />
	<meta property="og:description" content="{{ dz_array.pagelevel.frontend.public.og_description }}" />
	<meta property="og:image" content="{{ dz_array.pagelevel.frontend.public.og_image }}" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Title -->
	<title>{{ site_config.Site.title.value }}</title>
    
	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{{ site_config.Site.favicon.value }}">
	
    {% for cssurl in dz_array.pagelevel.frontend.global.css.theme4 %} 
		<link  rel="stylesheet" href="{% static cssurl %}" >
    {% endfor %}

</head>

<body id="bg">
<div class="page-wraper">
<!-- <div id="loading-area"></div> -->
	<!-- header -->
	{% include site_config.Theme.value|add:'/elements/header2.html' %} 
    <!-- header END -->
    
	<div class="page-content">
		
		
	
	
		
	
	
			<!-- blog start -->
			{% block content %}
			{% endblock %}
			<!-- blog END -->
	
	
	
	
	
		<!-- Bottom to top -->
		<button class="scroltop icon-up" type="button" style="display: inline-block;"><i class="fas fa-arrow-up"></i></button>
	
	
	
	
	
	
	</div>
    <!-- Content END-->

	
	<!-- Footer -->
	{% include site_config.Theme.value|add:'/elements/footer.html' %} 
	<button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
    <!-- Footer End -->
</div>
<!-- JAVASCRIPT FILES ========================================= -->
{% for jsurl in dz_array.pagelevel.frontend.global.js.theme4.top %}
		<script src="{% static jsurl %}"></script>
		{% endfor %}

		
		{% for jsurl in dz_array.pagelevel.frontend.global.js.theme4.bottom %}
		<script src="{% static jsurl %}"></script>
		{% endfor %}
		<script>
			/*
				On submiting the form, send the POST ajax
				request to server and after successfull submission
				display the object.
			*/
			$("#subscribe-form").submit(function (e) {
				// preventing from page reload and default actions
				e.preventDefault();
				// serialize the data for sending the form data.
				var serializedData = $(this).serialize();
				// make POST ajax call
				$.ajax({
					type: 'POST',
					url: "{% url 'dashboard:subscribe:add-subscriber' %}",
					data: serializedData,
					success: function (response) {
						// on successfull creating object
						// 1. clear the form.
						$("#subscribe-form").trigger('reset');
						alert(response.message);
		
					},
					error: function (response) {
						// alert the error if any error occured
						alert(respons.error.val);
					}
				})
			})
		</script>

</body>
</html>
