{% load static custom_tags mptt_tags %}

<div class="section-full">
    <div class="instra-line">
        <span class="sub-title">FIND ME ON INSTAGRAM</span>
        <h4 class="title"><i class="ti-instagram"></i>Follow @DexignZone</h4>
    </div>

    <!-- Blog Card Carousel -->
    <div class="insta-post-carousel owl-carousel owl-none wow fadeIn lightgallery" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="item">
            <span data-exthumbimage="/static/theme6/images/blog/card/small/pic1.jpg" data-src="/static/theme6/images/blog/card/full-img/pic1.jpg" class="check-km dlab-img-effect" title="">		
                <img src="/static/theme6/images/blog/card/pic1.jpg" alt="">
            </span>
        </div>
        <div class="item">
            <span data-exthumbimage="/static/theme6/images/blog/card/small/pic2.jpg" data-src="/static/theme6/images/blog/card/full-img/pic2.jpg" class="check-km dlab-img-effect" title="">		
                <img src="/static/theme6/images/blog/card/pic2.jpg" alt="">
            </span>
        </div>
        <div class="item">
            <span data-exthumbimage="/static/theme6/images/blog/card/small/pic3.jpg" data-src="/static/theme6/images/blog/card/full-img/pic3.jpg" class="check-km dlab-img-effect" title="">		
                <img src="/static/theme6/images/blog/card/pic3.jpg" alt="">
            </span>
        </div>
        <div class="item">
            <span data-exthumbimage="/static/theme6/images/blog/card/small/pic4.jpg" data-src="/static/theme6/images/blog/card/full-img/pic4.jpg" class="check-km dlab-img-effect" title="">		
                <img src="/static/theme6/images/blog/card/pic4.jpg" alt="">
            </span>
        </div>
        <div class="item">
            <span data-exthumbimage="/static/theme6/images/blog/card/small/pic5.jpg" data-src="/static/theme6/images/blog/card/full-img/pic5.jpg" class="check-km dlab-img-effect" title="">		
                <img src="/static/theme6/images/blog/card/pic5.jpg" alt="">
            </span>
        </div>
        <div class="item">
            <span data-exthumbimage="/static/theme6/images/blog/card/small/pic6.jpg" data-src="/static/theme6/images/blog/card/full-img/pic6.jpg" class="check-km dlab-img-effect" title="">		
                <img src="/static/theme6/images/blog/card/pic6.jpg" alt="">
            </span>
        </div>
        <div class="item">
            <span data-exthumbimage="/static/theme6/images/blog/card/small/pic7.jpg" data-src="/static/theme6/images/blog/card/full-img/pic7.jpg" class="check-km dlab-img-effect" title="">		
                <img src="/static/theme6/images/blog/card/pic7.jpg" alt="">
            </span>
        </div>
    </div>
</div>
<!-- Blog Card Carousel End -->

<!-- Footer -->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 align-self-center">
                    <ul class="footer-link m-b0">
                        <li><a href="{% url 'frontend:home' %}">Home</a></li>
                        <li><a href="{% url 'frontend:blog_list' %}">All Blogs</a></li>
                        <li><a href="{% url 'frontend:contactus' %}">Contact</a></li>
                    </ul>						
                </div>
                <div class="col-md-4">
                    <div class="footer-logo">
                        <a href="{% url 'frontend:home' %}" class="logo-white"><img src="{{site_config.Site.other_logo.value}}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4 align-self-center">
                    <ul class="social-icon m-b0 p-l0">
                        <li><a href="{{site_config.Social.instagram.value}}" class="btn radius-xl" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="{{site_config.Social.twitter.value}}" class="btn radius-xl" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="{{site_config.Social.facebook.value}}" class="btn radius-xl" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{site_config.Social.youtube.value}}" class="btn radius-xl" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>{{site_config.Site.copyright_text.value}}{{site_config.Site.footer_text.value|safe}}</p>
        </div>
    </div>
</footer>
<!-- Footer END-->
<button class="scroltop fa fa-chevron-up" ></button>