{% extends 'theme1/elements/layouts/layout1.html' %}

{% load static custom_tags %}

{% load static custom_tags widget_tweaks %}

{% block additional_css %}
{% endblock %}




{% block message %}
{% comment %} {% include 'dashboard/elements/alert.html' %} {% endcomment %}
{% endblock %}



{% block content %}


{% if instance %}
    {% if not is_locked %}
        <div class="dz-card style-1 blog-single">
            <div class="dz-media">
                <img src="/media/{{ instance.feature_image }}" alt="">
            </div>
            <div class="dz-info">
                <div class="dz-meta">
                    <ul>
                        <li class="post-date"><i class="las la-calendar"></i> {{instance.publish_on}}</li>
                        <li class="post-author"><a href="{% url 'frontend:author' username=instance.user.username %}"><i class="las la-user"></i> By {{instance.user.first_name}}{{instance.user.last_name}}</a></li>
                        
                        <li><i class="la la-cubes"></i>
                            {% for cate in instance.categories.all %}
                            <a href="{% url 'frontend:blogcategory' slug=cate.slug %}">{{cate.title}}</a>
                            {% endfor %}
                        </li>
                        <li><i class="la la-eye"></i><a href="#">{{instance.views}}</a></li>
                    </ul>
                </div>
                <h2 class="dz-title">{{ instance.title }}</h2>
                <p>{{ instance.excerpt }}</p>
                {{instance.content|safe}}
            
            </div>
            <div class="dz-share-post">
                <div class="dz-social-icon">
                    <h6 class="title">Share:</h6>
                    <ul>
                        <li><a class="fab fa-facebook-f" href="http://www.facebook.com/sharer.php?u={{request.build_absolute_uri}}"></a></li>
                        <li><a class="fab fa-linkedin" href="http://www.linkedin.com/shareArticle?url={{request.build_absolute_uri}}"></a></li>
                        <li><a class="fab fa-twitter" href="https://twitter.com/share?url={{request.build_absolute_uri}}"></a></li>
                    </ul>
                </div>
                <div class="post-tags">

                    {% for tag in instance.tags.all %}
                        <a href="{% url 'frontend:blogtag' slug=tag.slug %}">#{{tag.name}}</a>
                    {% endfor %}
                   
                   
                </div>
            </div>
        </div>
        <!-- Author Profile -->
        <div class="author-box blog-user m-b60">
            <div class="author-profile-info">
                <div class="author-profile-pic">
                    <img src="/media/{{instance.user.avatar}}" alt="Profile Pic">
                </div>
                <div class="author-profile-content">
                    <h4>{{instance.user.first_name}}{{instance.user.last_name}}</h4>
                    <p>{{instance.user.about}}</p>
                    <ul class="list-inline m-b0">
                        <li>
                            <a href="{{instance.user.facebook_url}}" target="_blank" class="btn-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{instance.user.twitter_url}}" target="_blank" class="btn-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{instance.user.linkedin_url}}" target="_blank" class="btn-link">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <!-- Comments -->
        <div class="clear" id="comment-list">
            <div class="comments-area" id="comments">
                <div class="widget-title">
                    {% with allcomments.count as total_comments %}
                    <h4 class="title">{{ total_comments }} Comment{{ total_comments|pluralize }}</h4>
                    <div class="dz-separator style-1 bg-primary mb-0"></div>
                    {% endwith %}
                </div>
                <div class="clearfix">
                    <!-- comment list END -->
                    {% load mptt_tags %}
                    <ol class="comment-list">
                        {% recursetree comments %}
                        <li class="comment">
                            <div class="comment-body">
                                <div class="comment-author vcard"> 
                                    <img  class="avatar photo" src="/static/theme1/images/no-user.png" alt=""> 
                                    <cite class="fn">{{ node.name }}</cite>
                                    <div class="comment-meta"> <a href="javascript:void(0);">{{ node.publish }}</a> </div>
                                </div>
                                <p>{{ node.content }}</p>
                                <div class="reply"> 
                                    <a href="{{ node.id }}" data-commentid="{{ node.id }}" data-postid="{{ instance.id }}" data-replyto="Reply to {{ node.name }}" class="comment-reply-link w3-comment-reply">Reply</a>
                                </div>
                            </div>
                            {% if not node.is_leaf_node %}
                            <ol class="children">
                                {{ children }}
                            </ol>
                            {% endif %}
                            <!-- list END -->
                        </li>
                        {% endrecursetree %}
                    </ol>
                    <!-- comment list END -->
                    <!-- Form -->
                    <div class="comments-div">
                        <div class="comment-respond" id="ReplyFormContainer">
                            <div class="widget-title">
                                <h4 class="title">Leave Your Comment</h4>
                                <div class="dz-separator style-1 bg-primary mb-0"></div>
                                <h5 class="title">
                                    <span id="reply-title"></span>
                                    <small><a class="text-danger" id="cancel-comment-reply" rel="nofollow" href="javascript:void(0);" style="display:none"> Cancel reply</a></small>
                                </h5>
                            </div>
                            {% include 'theme1/elements/alert.html' %}
                            {% if message %}
                            <div class="text-success mb-3">{{ message }}</div>
                            {% endif %}
                            {% if errors %}
                            <div class="text-danger mb-3">{{ errors }}</div>
                            {% endif %}
                            <form class="comment-form" id="commentform" method="post">
                                {% csrf_token %}
                                {{ comment_form.parent|attr:"type:hidden"|attr:"id:comment_parent_id"}}
                                {{ comment_form.status|attr:"type:hidden"|attr:"id:id_status"}}
                                <p class="comment-form-author">
                                    <label for="author">Name <span class="required">*</span></label>
                                    {{ comment_form.name|attr:"type:text"|attr:"id:id_name" |attr:"placeholder:Name" }}
                                </p>
                                <p class="comment-form-email">
                                    <label for="email">Email <span class="required">*</span></label>
                                    {{ comment_form.email|attr:"type:text"|attr:"id:id_email"|attr:"placeholder:Email" }}
                                </p>
                                <p class="comment-form-comment">
                                    <label for="comment">Comment</label>
                                    {{ comment_form.content|attr:"type:text"|attr:"id:id_content" |attr:"rows:5" |attr:"placeholder:Add a Comment" }}
                                </p>
                                <p class="form-submit">
                                    <button type="submit" class="btn btn-border shadow-primary btn-primary" id="submit">SUBMIT</button>
                                </p>
                            </form>
                        </div>
                    </div>
                    
                    <!-- Form -->
                </div>
            </div>
        </div>




        {% else %}

        <form  method="post"> {% csrf_token %}
            <div class="form-group">
                <label>Password <span class="text-danger">*</span></label>
                <input type="password" name="password" class="form-control mb-3">
                {% if message %}
                <div class="text-danger mb-2">
                    {{message}}
                </div>
                {% endif %}
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>

    {% endif %}
{% else %}
<h3>Not Valid!!!</h3>
<h4>{{message}}</h4>
{% endif %}




{% endblock %}

{% block additional_js %}

{% endblock %}