{% extends 'theme1/elements/layouts/layout2.html' %}

{% load static custom_tags widget_tweaks %}

{% block additional_css %}
{% endblock %}


{% block content %}





<section class="content-inner-2 pt-0">
    <div class="map-iframe">
        {{ site_config.Site.location.value|safe }}
    </div>
</section>




<section class="contact-wraper1" style="background-image: url(/static/theme1/images/background/bg18.jpg);">	
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-info">
                    <div class="section-head text-white style-1">
                        <h3 class="title text-white">Get In Touch</h3>
                        <p>If you are interested in working with us, please get in touch.</p>
                    </div>
                    <ul class="no-margin">
                        <li class="icon-bx-wraper text-white left m-b30">
                            <div class="icon-md">
                                <span class="icon-cell">
                                    <i class="flaticon-placeholder-1"></i>
                                </span>
                            </div>
                            <div class="icon-content">
                                <h4 class=" dz-tilte text-white">Our Address</h4>
                                <p class="font-18">{{site_config.Site.address.value}}</p>
                            </div>
                        </li>
                        <li class="icon-bx-wraper text-white left m-b30">
                            <div class="icon-md">
                                <span class="icon-cell">
                                    <i class="flaticon-message"></i>
                                </span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-tilte text-white">Our Email</h4>
                                <p class="font-18">{{site_config.Site.email.value}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 m-b40">
                <div class="contact-area1 m-r20 m-md-r0">
                    <div class="section-head style-1">
                        <h6 class="sub-title text-primary">CONTACT US</h6>
                        <h3 class="title m-b20">Get In Touch With Us</h3>
                    </div>
                    <form class="dzform" method="post"> {% csrf_token %}
                        {% include 'theme1/elements/alert.html' %}
                        
                        {% if message %}
                        <div class="text-success mb-3">{{ message }}</div>
                        {% endif %}
                        {% if errors %}
                        <div class="text-danger mb-3">{{ errors }}</div>
                        {% endif %}

                        <div class="input-group">
                          
                        {{ contactus_form.name|attr:"class:form-control"|attr:"placeholder:Full Name" }}
                        </div>
                        <div class="input-group">
                            {{ contactus_form.email|attr:"class:form-control"|attr:"placeholder:Email Adress" }}
                        </div>
                        <div class="input-group">
                            {{ contactus_form.phone|attr:"class:form-control"|attr:"placeholder:Phone No." }}
                        </div>
                        <div class="input-group">
                            
                            {{ contactus_form.message|attr:"class:form-control"|attr:"rows:5" }}
                        </div>
                      
                        <div>
                            <button  type="submit" class="btn w-100 btn-primary btn-border">CONTACT US</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block additional_js %}

{% endblock %}