{% load static custom_tags %}
{% comment %} 
<div class="main-slider3">
    <div class="swiper-container main-swiper3 banner-inner">
        <div class="swiper-wrapper">
            {% for banner in site_config.Site.banner.value|split:"," %}
            <div class="swiper-slide overlay-black-middle" style="background-image: url({{banner}}); background-size: cover;">
                
            </div>
            {% endfor %}
            
        </div>
        <div class="swiper-button">
            <div class="swiper-button-next"><i class="las la-angle-left"></i></div>
            <div class="swiper-button-prev"><i class="las la-angle-right"></i></div>
        </div>
    </div>
    
       
        

</div>  {% endcomment %}



<div class="main-slider1">
    <div class="swiper-container main-swiper1 banner-inner">
        <div class="swiper-wrapper">

            {% for banner in site_config.Site.home_slider.value|split:"," %}
            <div class="swiper-slide overlay-black-light" style="background-image: url({{ banner }});"></div>
            {% endfor %}
       
        </div>
        <div class="swiper-button">
            <div class="swiper-button-prev"><i class="las la-angle-left"></i></div>
            <div class="swiper-button-next"><i class="las la-angle-right"></i></div>
        </div>
    </div>
    <div class="image-slider__pagination">
        <div class="image-slider__current">1</div>
        <div class="swiper-pagination swiper-pagination-slider1"></div>
        <div class="image-slider__total">1</div>
    </div>
    
    <div class="swiper-container slider-thumbs-wraper main-swiper-thumb1">
        <div class="swiper-wrapper">
            {% for banner in site_config.Site.home_slider.value|split:"," %}
            <div class="swiper-slide">
                <div class="slider-thumbs overlay-black-dark">
                    <img src="{% static 'frontend/images/background/bg1.jpg' %}" alt="">
                </div>
            </div>
            {% endfor %}
         
        </div>
    </div>
</div>