{% load static custom_tags mptt_tags %}

<!-- Footer -->
<footer class="site-footer style-1" id="footer">
    <img class="bg-shape1" src="{% static 'theme3/images/home-banner/shape1.png' %}" alt="">

    <div class="footer-top background-luminosity" style="background-image: url({% static 'theme1/images/background/bg1.jpg' %})"> 
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12">
                    <div class="widget widget_about">
                        <div class="footer-logo logo-white">
                            <a href="{% url 'frontend:home' %}"><img src="{{site_config.Site.other_logo.value}}" alt=""></a>
                        </div>
                        <p>CryptoZone is a Crypto & Crypto Website by DexignZone lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <div class="dz-social-icon transparent space-10">
                            <ul>
                                <li><a target="_blank" class="fab fa-facebook-f" href="{{site_config.Social.facebook.value}}"></a></li>
                                <li><a target="_blank" class="fab fa-linkedin" href="{{site_config.Social.linkedin.value}}"></a></li>
                                <li><a target="_blank" class="fab fa-twitter" href="{{site_config.Social.twitter.value}}"></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>





                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                    <div class="widget widget_services">
                        <h4 class="widget-title">Menu</h4>
                        <ul>
                            {% for menu_item in 'footer-menu'|getMenu %}
                            <li><a href="{% if menu_item.link %}{{ menu_item.link }}{% else %}{{ menu_item.type|getMenuItemUrl:menu_item.item_id }}{% endif %}">{{menu_item.title}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="widget recent-posts-entry">
                        <h4 class="widget-title">Blog Posts</h4>
                        <div class="widget-post-bx">
                            {% with widget_blogs='2'|getRecentPOST  %}
                            {% for post in widget_blogs %}
                            <div class="widget-post clearfix">
                                <div class="dz-info">
                                    <h6 class="title"><a href="{% url 'frontend:blog-detail' slug=post.slug %}">{{post.title|truncatechars:35}}</a></h6>
                                    <span class="post-date">{{post.publish_on}}</span>
                                </div>
                            </div>
                            {% endfor %}
                            {% endwith %}
                          
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-12">
                    <div class="widget widget_locations">
                        <h4 class="widget-title">Locations</h4>
                        <div class="clearfix">
                            <p>{{site_config.Site.address.value|safe}}</p>
                            <img src="{% static 'theme3/images/footer/world-map-with-flags1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer Bottom Part -->
    <div class="footer-bottom text-center">
        <div class="container">
            <span class="copyright-text">{{site_config.Site.copyright_text.value}}{{site_config.Site.footer_text.value|safe}}</span>
        </div>
    </div>
</footer>
<!-- Footer End -->
