{% extends 'theme6/elements/layouts/layout1.html' %}

{% load static  %}

{% block additional_css %}
{% endblock %}




{% block message %}
{% comment %} {% include 'dashboard/elements/alert.html' %} {% endcomment %}
{% endblock %}



{% block content %}


{% if blogs %}
    {% for blog in blogs %}
    <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
            <div class="dlab-card blog-md post-boxed">
                <div class="dlab-media">
                    <a href="{% url 'frontend:blog-detail' slug=blog.slug %}" ><img src="/media/{{blog.feature_image}}" alt=""></a>
                </div>
                <div class="dlab-info">
                    <div class="dlab-meta">
                        <ul>
                            <li class="post-category">
                                {% if blog.categories.all %}
                                {% for category in blog.categories.all %}
                                    <a href="{% url 'frontend:blogtag' slug=category.slug %}"> {{category.title}},</a>
                                {% endfor %}
                                {% endif %} 
                            <li class="post-date">at <span>{{blog.publish_on}}</span></li>
                        </ul>
                    </div>
                    <h4 class="dlab-title"><a href="{% url 'frontend:blog-detail' slug=blog.slug %}">{{blog.title}}</a></h4>
                    <p>{{ blog.excerpt|truncatechars:200 }}</p>
                    <div class="dlab-feed">
                        <ul>
                            <li class="post-dislike"><a href="javascript:void(0);"><i class="ti-comment-alt"></i><span>0</span></a></li>
                            <li class="post-view"><a href="javascript:void(0);"><i class="ti-eye"></i><span>{{blog.views}}</span></a></li>
                            <li class="post-share"><i class="ti-share"></i><span>Share</span>
                                <ul>
                                    <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Pagination -->
    <div class="pagination-bx d-flex align-items-center justify-content-between">
        <ul class="pagination-number">
            {% for i in blogs.paginator.page_range %}
                <li class="{% if blogs.number == i %}active{% endif %}">
                    <a class="text-center" href="?page={{i}}">{{i}}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination-number">
    
            <li>
                <a {% if blogs.has_previous %} href="?page={{ blogs.previous_page_number }}" {% endif %}><span class="prev-page"><i class="fa fa-long-arrow-left"></i> Prev</span></a>
            </li>
                
            <li>
                <a {% if blogs.has_next %} href="?page={{ blogs.next_page_number }}" {% endif %}><span class="next-page">Next<i class="fa fa-long-arrow-right"></i></span></a>
            </li>
            
        </div>
    </div>
    <!-- Pagination END --> 

{% else %}

<h3>Not Found!</h3>

{% endif %}

		
		


{% endblock %}

{% block additional_js %}

{% endblock %}