<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Meta -->
	{% load static mptt_tags custom_tags %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="{{page_seo.meta_keywords}}"/>
	<meta name="author" content=""/>
	<meta name="robots" content=""/>
	<meta name="description" content="{{ page_seo.meta_descriptions }}"/>
	<meta property="og:title" content="{{ page_seo.title }}"/>
	<meta property="og:description" content="{{ page_seo.meta_descriptions }}" />
	<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/media/{{ page_obj.feature_image }}" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Title -->
	<title>{{ site_config.Site.title.value }}</title>
    
	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{{ site_config.Site.favicon.value }}">


	<!-- Custom Stylesheet -->
	{% for cssurl in dz_array.pagelevel.frontend.global.css.theme7  %}
    <link rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">



</head>
<body id="bg">
	<div id="loading-area" class="loading-page-1">
		<div class="loading-inner">
			<div class="inner">
				<img class="item-logo" src="/static/theme7/images/favicon.png" alt="">
				<div class="load-text">
					<span data-text="B" class="text-load">B</span>
					<span data-text="o" class="text-load">o</span>
					<span data-text="d" class="text-load">d</span>
					<span data-text="y" class="text-load">y</span>
					<span data-text="S" class="text-load">S</span>
					<span data-text="h" class="text-load">h</span>
					<span data-text="a" class="text-load">a</span>
					<span data-text="p" class="text-load">p</span>
					<span data-text="e" class="text-load">e</span>
				</div>
				<div class="item-circle">
					<img class="rotate-360" src="/static/theme7/images/pattern/circle-footer-1.svg" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="page-wraper">
	
	<!-- Header -->
	{% include 'theme7/elements/header.html' %}
	<!-- Header End -->
	
	<div class="page-content bg-white">
		
		{% block message %}
		{% endblock %}
		{% if page_obj.title == 'Home' or page_obj.title == 'home' %}
		
        {% else %}
		<!-- Banner  -->
		<div class="dz-bnr-inr style-1 text-center" data-text="FITNESS" style="background-image: url(/static/theme7/images/banner/bg2.png);">
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<h1>{{banner_title}}</h1>
					<!-- Breadcrumb Row -->
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'frontend:home' %}">HOME</a></li>
							<li class="breadcrumb-item active" aria-current="page">{{banner_title}}</li>
						</ul>
					</nav>
					<!-- Breadcrumb Row End -->
				</div>
			</div>
		</div>
		<!-- Banner End -->
		{% endif %}

		{% block content %}
		{% endblock %}

	</div>
	<!-- Footer -->
	{% include 'theme7/elements/footer.html' %}
	<!-- Footer End -->

</div>
<!-- JAVASCRIPT FILES ========================================= -->
{% for jsurl in dz_array.pagelevel.frontend.global.js.theme7.top %}
<script src="{% static jsurl %}"></script>
{% endfor %}


{% for jsurl in dz_array.pagelevel.frontend.global.js.theme7.bottom %}
<script src="{% static jsurl %}"></script>
{% endfor %}

<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#subscribe-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'dashboard:subscribe:add-subscriber' %}",
            data: serializedData,
            success: function (response) {
                $("#subscribe-form").trigger('reset');
				alert(response.message);

            },
            error: function (response) {
                // alert the error if any error occured
                alert(respons.error.val);
            }
        })
    })
</script>
{% block additional_js %}
{% endblock %}

</body>
</html>